{extend name="index"/}
{block name="title"}
学生管理
{/block}
{block name="search"}
<hr>
    <div class="row">
        <div class="col-md-10">
            <form class="form-inline">
                <div class="form-group">
                    <input name="klass" type="text" class="form-control " placeholder="班级" style="margin-top: 20px">
                    <input name="name" type="text" class="form-control" placeholder="姓名" style="margin-top: 20px" value="{$name}">
                    <input name="sno" type="text" class="form-control" placeholder="学号" style="margin-top: 20px" value="{$sno}">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default" style="height: 30px"><i class="glyphicon glyphicon-search"></i>&nbsp;查询</button>
                </div>
            </form>
        </div>
        <div class="col-md-2 text-right">
            <a href="{:url('Add')}" class="btn btn-primary" style="margin-top: 20px"><i class="glyphicon glyphicon-plus"></i>&nbsp;增加</a>
        </div>
    </div>
<hr />
{/block}
{block name="content"}
<table class="table table-hover table-bordered">
    <tr class="info">
        <th>序号</th>
        <th>姓名</th>
        <th>性别</th>
        <th>班级</th>
        <th>学号</th>
        <th>操作</th>
    </tr>
    {volist name="students" id="_Student" key="key"}
    <tr>
        <td>{$key}</td>
        <td>{$_Student->getName()}</td>
        <td>{$_Student->getSex()}</td>
        <td>{$_Student->getStudentByUserId()->getKlassName()}</td>
        <td>{$_Student->getStudentByUserId()->getSno()}</td>
        <td>
            <a href="{:url('edit?id=')}" class="btn btn-primary">编辑</a> &nbsp;&nbsp;
            <a href="{:url('delete?id=')}" class="btn btn-danger">删除</a>
        </td>
    </tr>
    {/volist}
</table>
{/block}
{block name="page"}
{$students->render()}
{/block}