<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

    <title>学生端登录</title>
</head>
<body class="container" style="margin-top: 20px">
    <form action="{:url('LoginSuccess')}" method="post">
    	<div style="margin-left: 500px">
    		<div class="row">
    			<div class="col-12 p-2">
    				<label for="username">请输入学号:</label>
    				<input type="text" name="username" id="username" class="form-control" style="width: 150px" value="" />
    			</div>
    		</div>
    		<div class="row">
    			<div class="col-12 p-2">
    				<label for="username">请输入密码:</label>
    				<input type="text" name="username" id="username" class="form-control" style="width: 150px"/>
    			</div>
    		</div>
    		<div class="row">
    			<div class="col-12 p-2" style="margin-top: 10px">
    				<button type="submit" class="btn btn-primary">登录</button>
    			</div>
    		</div>
    	</div>
    </form>
</body>
</html>