<!--查询和添加-->
<div class="row">
  <div class="col-md-10">
    <form class="form-inline" [formGroup]="queryGroup">
      <input type="text" formControlName="course" class="form-control" style="margin-right: 10px" placeholder="课程">
      <a type="submit" class="btn btn-info" (click)="loadByPage()"><i class="fas fa-search"></i>查询</a>
    </form>
  </div>
</div>
<table class="table table-striped mt-4">
  <thead>
    <tr  class="table-primary">
      <th>序号</th>
      <th>课程名称</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody *ngIf="pageData.content.length">
    <tr *ngFor="let data of pageData.content; index as index">
      <td>{{ index + 1 }}</td>
      <td>{{ data.schedule.course.name }}</td>
      <td>
        <a class="btn btn-primary" [routerLink]="'/teacher/task/viewStudent/'+ data.schedule.id.toString()"><i class="fa fa-search"></i>&nbsp;查看学生</a>
        <a class="btn btn-success" [routerLink]="'/teacher/task/courseStart/' + data.schedule.id.toString()"><i class="fa fa-hourglass-start"></i>&nbsp;开始上课</a>
      </td>
    </tr>
  </tbody>
</table>
<app-page [page]="pageData" (bePageChange)="onPage($event)"></app-page>
