{extend name="index"/}
{block name="title"}
学生登录
{/block}
{block name="nav"}
{/block}
{block name="content"}
<form action="{:url('login')}" method="post">
    <div class="row">
        <div class="col-md-12 p-2">
            <label for="sno">请输入学号:</label>
            <input type="text" name="sno" id="sno" class="form-control" value="" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 p-2">
            <label for="password">请输入密码:</label>
            <input type="password" name="password" id="password" class="form-control" />
        </div>
    </div>
    &nbsp
    <div class="row">
        <div class="col-md-12 p-2">
            <button type="submit" class="btn btn-primary btn-lg btn-block">登录</button>
        </div>
    </div>
    &nbsp
    <div class="row">
        <div class="col-md-12 text-right">
            <a href="{:url('login/studentRegister')}">点击此处进行注册</a>
        </div>
    </div>
</form>
{/block}
