<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

    <title>学生签到</title>
</head>
<body class="container" style="margin-top: 20px">
    <form action="{:url('signIn')}" method="post">
    	<div>
            <div class="row">
                <div class="col-12 p-2">
                    <label for="username" style="font-size: 50px">当前课程:</label>
                    <input type="text" name="username" id="username" class="form-control" style="width: 600px; height: 100px; font-size: 50px" value="程序设计" disabled/>
                </div>
            </div>
    		<div class="row">
    			<div class="col-12 p-2">
    				<label for="username" style="font-size: 50px">当前位置:</label>
    				<input type="text" name="username" id="username" class="form-control" style="width: 600px; height: 100px; font-size: 50px" value="A301-1" disabled/>
    			</div>
    		</div>
    		<div class="row">
    			<div class="col-12 p-2">
    				<label for="username" style="font-size: 50px">签到人:</label>
    				<input type="text" name="username" id="username" class="form-control" style="width: 600px; height: 100px; font-size: 50px" value="张三" disabled/>
    			</div>
    		</div>
    		<!--<div class="row">
    			<div class="col-12 p-2">
    				<label for="test" style="font-size: 50px">请输入课程暗号:</label>
    				<input type="test" name="test" id="test" class="form-control" style="width: 600px; height: 100px; font-size: 50px"/>
    			</div>
    		</div>-->
    		<div class="row">
    			<div class="col-6 p-2" style="margin-top: 10px">
    				<button type="submit" class="btn btn-primary" style="font-size: 50px">自动签到</button>
    			</div>
                <div class="col-6 p-2" style="margin-top: 10px">
                    <a href="{:url('PasswordSignIn')}" type="submit" class="btn btn-primary" style="font-size: 50px">暗号签到</a>
                </div>
    		</div>
            <div class="row">
                <div class="col-6 p-2" style="margin-top: 10px">
                    <label style="font-size: 40px">若您上的课程与当前显示课程不一致，</label>
                    <label style="font-size: 40px">请选择暗号签到</label>
                </div>
            </div>
    	</div>
    </form>
</body>
</html>