<div>
  <div class="form-group row">
    <div class="col-sm-10">
      <a class="btn btn-primary" routerLink="/teacher/schedule"><i class="glyphicon"></i>&nbsp;返回</a>
    </div>
  </div>
  <br>
</div>
<pre> {{ formGroup.value | json }}</pre>
<form [formGroup]="formGroup">
  <!-- 选择课程 -->
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" style="width: 162px"><code>*</code>课程</label>
    <div class="col-sm-4">
      <select class="selectpicker form-control col-sm-12" (change)="onCourseIdChange()" formControlName="course_id" id="course_id" required>
        <option [value]="''">请选择课程</option>
        <option *ngFor="let course of courses" [value]="+course.id">{{course.name}}</option>
      </select>
    </div>
  </div>

  <!-- 选择班级 -->
  <div class="form-group row" *ngIf="formGroup.get('course_id')?.value !== ''">
    <label class="col-sm-2 col-form-label"><code>*</code>上课班级<br>(可多选)</label>
    <div class="col-sm-4">
      <select class="selectpicker form-control col-sm-12" (change)="onClazzIdsChange()" formControlName="clazz_ids" multiple id="klass">
        <option *ngFor="let clazz of clazzes" [value]="+clazz.id">{{clazz.name}}</option>
      </select>
    </div>
  </div>
  <!--选择时间-->
  <div *ngIf="!formGroup.invalid">
    <div class="form-group row">
      <div class="col-sm-10">
        <label>上课时间：</label>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <table class="table table-hover table-bordered">
          <tr>
            <th class="">周几/课序</th>
            <th class="">1</th>
            <th class="">2</th>
            <th class="">3</th>
            <th class="">4</th>
            <th class="">5</th>
          </tr>
          <tr *ngFor="let day of days; index as d">
            <td>周{{day}}</td>
            <td *ngFor="let lesson of lessons; index as l">
              <div class="row">
                <app-course-time
                  [day]="d"
                  [lesson]="l"
                  [weeks]="weeks"
                  [rooms]="rooms"
                  [teacher]="teacher"
                  [conflictData]="getConflictData(d, l)"
                  [clazzes]="formGroup.get('clazz_ids')?.value"
                  (outer)="getFooterRun($event)"
                ></app-course-time>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="form-group row">
        <div class="col">
          <a type="submit" class="btn btn-primary" (click)="onSubmit()">确定</a>
        </div>
      </div>
    </div>
  </div>
</form>
