{extend name="index"/}
{block name="title"}
学生端
{/block}
{block name="nav"}
<!-- 菜单导航 -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://www.mengyunzhi.com">梦云智</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{:url('index')}">我的课程</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="">注销</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<!-- /菜单导航 -->
{/block}
{block name="search"}
{/block}
{block name="content"}
<div class="row">
    <div class="col col-md-6">
        <div class="col-sm-10">
          <a href="{:url('index')}" class="btn btn-primary"><i class="glyphicon"></i>&nbsp;返回</a>&nbsp&nbsp
        </div>
        <hr>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col-md-3">课程名称(48学时)</th>
              <th scope="col-md-3">分数</th>
              <th scope="col-md-2">备注</th>
            </tr>
          </thead>
            <tr>
              <td>平时成绩</td>
              <td>5</td>
              <td></td>
            </tr>
            <tr>
              <td>平时成绩</td>
              <td>5</td>
              <td></td>
            </tr>
            <tr>
              <td>平时成绩</td>
              <td>5</td>
              <td></td>
            </tr>

            <tr>
              <td>c语言</td>
              <td>10</td>
              <td>学时:16</td>
            </tr>

            <tr>
              <td>java语言</td>
              <td>10</td>
              <td>学时:16</td>
            </tr>
            <tr>
              <td>c++语言</td>
              <td>10</td>
              <td>学时:16</td>
            </tr>

            
            <tr>
              <td>平时(20%)</td>
              <td>20</td>
              <td></td>
            </tr>
            <tr>
              <td>报告(80%)</td>
              <td>75</td>
              <td></td>
            </tr>
            <tr>
              <td>总成绩(100分)</td>
              <td>95</td>
              <td></td>
            </tr>

            <!-- <tr>
              <td colspan="2">Larry the Bird</td>
            </tr> -->
          </tbody>
        </table>
    </div>
</div>
{/block}
{block name="page"}
{/block}