<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>{block name="title"}标题{/block}</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body class="container">

{block name="nav"}
 <!-- 菜单导航 -->
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="http://www.mengyunzhi.com">梦云智</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="{:url('admin_center/index')}">管理端</a></li>
                        <li class=""><a href="{:url('admin_teacher/index')}">教师管理</a></li>
                        <li><a href="{:url('admin_klass/index')}">班级管理</a></li>
                        <li><a href="{:url('admin_course/index')}">课程管理</a></li>
                        <li><a href="{:url('admin_room/index')}">教室管理</a></li>
                    </ul>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{:url('Login/index')}">注销</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
        </div>
    </div>
<!-- /菜单导航 -->
{/block}

    <div class="row">
        <div class="col-md-12">
            {block name="search"}
            <hr />
            <div class="row">
                <div class="col-md-8">
                    <form class="form-inline">
                        <div class="form-group">
                            <label class="sr-only" for="name">姓名</label>
                            <input name="name" type="text" class="form-control" placeholder="姓名..." value={:input('get.name')}>
                        </div>
                        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>&nbsp;查询</button>
                    </form>
                </div>
                <div class="col-md-4 text-right">
                    <a href="{:url('add')}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>&nbsp;增加</a>
                </div>
            </div>
            <hr />
            {/block}

            {block name="content"}
            {/block}
            {block name="page"}
            {/block}
        </div>
    </div>
</body>

</html>