{extend name="index"/}
{block name="title"}
教师管理
{/block}
{block name="nav"}
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="">梦云智</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <!-- <li><a href="{:url('admin_center/index')}">管理端</a></li> -->
                        <li class="active"><a href="{:url('admin_teacher/index')}">教师管理</a></li>
                        <li><a href="{:url('admin_klass/index')}">班级管理</a></li>
                        <li><a href="{:url('admin_course/index')}">课程管理</a></li>
                        <li><a href="{:url('admin_room/index')}">教室管理</a></li>
                    </ul>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{:url('Login/index')}">注销</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
{/block}
{block name="search"}
<hr />
<div class="row">
    <div class="col-md-3">
        <a href="{:url('add')}" class="btn btn-primary"><i class="glyphicon"></i>&nbsp;添加教师</a>
    </div>
</div>
<hr />
{/block}
{block name="content"}
<table class="table table-hover table-bordered">
    <tr class="info">
        <th>序号</th>
        <th>姓名</th>
        <th>性别</th>
        <th>用户名</th>
        <th>操作</th>
    </tr>
    {volist name="teachers" id="_teacher" key="key"}
    <tr>
        <td>{$key}</td>
        <td>{$_teacher->name}</td>
        <td>{$_teacher->sex}</td>
        <td>{$_teacher->username}</td>
        <td>
            <a href="{:url('edit?id='. $_teacher->id)}" class="btn btn-primary">编辑</a> &nbsp;&nbsp;
            <a href="{:url('delete?id='. $_teacher->id)}" class="btn btn-danger">删除</a>
        </td>
    </tr>
    {/volist}
</table>
{/block}
{block name="page"}
{$teachers->render()}
{/block}