<div class="row mb-2">
  <div class="col-12 text-right">
    <a class="btn btn-primary mr-2" routerLink="./add"><i class="fas fa-plus"></i>新增</a>
  </div>
</div>
<table class="table table-striped">
  <thead class="table-primary">
    <tr class="info">
      <th>序号</th>
      <th>名称</th>
      <th>开始日期</th>
      <th>结束日期</th>
      <th>状态</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let term of pageData.content, index as index">
      <td>{{ index + 1 }}</td>
      <td>{{ term.name }}</td>
      <td>{{ term.startTime * 1000 | date: 'yyyy-MM-dd' }}</td>
      <td>{{ term.endTime * 1000 | date: 'yyyy-MM-dd' }}</td>
      <td><span class="badge" [ngClass]="{ 'badge-primary': term.state, 'badge-secondary': !term.state }">{{ term.state | termState }}</span></td>
      <td>
        <a class="btn btn-sm btn-primary" [routerLink]="'./edit/' + '1'"><i class="fas fa-pen"></i>编辑</a>
        <a class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i>删除</a>
        <a class="btn btn-sm btn-success col-md-2" [ngClass]="{ disabled: term.state }">激活</a>
      </td>
    </tr>
  </tbody>
</table>

<app-page [page]="pageData" (bePageChange)="onPage($event)"></app-page>
