<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">修改密码: {{name}}</a></li>
  </ol>
</nav>

<body class="container">
<form style="margin-top: 20px">
  <div class="form-group row">
    <label class="col-sm-1 col-form-label">姓名</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" [value]="name" disabled style="width: 200px">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-1 col-form-label"><code>*</code>新密码</label>
    <div class="col-sm-4">
      <input type="password" class="form-control" id="password" name="password"  [formControl]="password" style="width: 200px">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-3 text-center">
      <button type="submit" class="btn btn-primary" (click)="onSubmit()" [disabled]="password.invalid">保存</button>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a class="btn btn-primary" [routerLink]="'../../'">返回</a>
    </div>
  </div>
</form>
</body>
