<form>
  <div class="form-group row">
    <label for="name" class="col-sm-2 col-form-label">班级名称</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="name" name="name" value="2022春季学期">
    </div>
  </div>
  <div class="form-group row">
    <label for="entrance_date" class="col-sm-2 col-form-label">入学日期</label>
    <div class="col-sm-4">
      <input type="date" class="form-control" id="entrance_date" name="entrance_date" value="2022-03-01">
    </div>
  </div>
  <div class="form-group row">
    <label for="length" class="col-sm-2 col-form-label">学制</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="length" name="length" value="4">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">确定</button>
      <a class="btn btn-primary" routerLink="../../">返回</a>
    </div>
  </div>
</form>
