{extend name="index"/}
{block name="title"}
课程管理
{/block}
{block name="search"}
{/block}
{block name="content"}
<div class="row">
    <div class="col col-md-8">
        <div class="col-sm-12">
            <a href="{:url('courseSort')}" class="btn btn-primary"><i class="glyphicon"></i>&nbsp;返回</a>&nbsp&nbsp
            <a href="{:url('courseProgramAdd?schedule_id='.input('param.schedule_id'))}" class="btn btn-info"><i class="glyphicon"></i>&nbsp;添加项目</a>&nbsp&nbsp
            <a href="{:url('courseTimeAdd?schedule_id='.input('param.schedule_id'))}" class="btn btn-success">&nbsp;添加上课时间</a>&nbsp;
            <a href="{:url('courseKlassAdd?schedule_id='.input('param.schedule_id'))}" class="btn btn-success">&nbsp;添加上课班级</a>&nbsp;
        </div>
        <hr>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col-md-3">项</th>
                    <th scope="col-md-3">内容</th>
                    <th scope="col-md-3">其它</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>课程名称</td>
                    <td>{:$Schedule->getCourse()->getName()}</td>
                    <td>
                        <a class="btn btn-success" href="{:url('courseEdit')}"><i class="glyphicon"></i>&nbsp;编辑</a>
                    </td>
                </tr>
                <tr>
                    <td>学时</td>
                    <td>{:$Schedule->getCourse()->getLesson()}</td>
                    <td></td>
                </tr>
                {volist name="$Schedule->getCourse()->getProgram()" id="_Program" key="key"}
                <tr>
                    <td><?php echo '项目'.$key; ?></td>
                    <td>{:$_Program->name . '名称' . '（学时：' . $_Program->lesson . '）'}</td>
                    <td>
                        <a href="{:url('')}" class="btn btn-danger"><i class="glyphicon"></i>&nbsp;删除</a>
                        <a href="{:url('courseProgramEdit?program_id='.$_Program->id.'&schedule_id='.$Schedule->id)}" class="btn btn-success"><i class="glyphicon"></i>&nbsp;编辑</a>
                        <a href="{:url('')}" class="btn btn-primary"><i class="glyphicon"></i>&nbsp;上移</a>
                        <a href="{:url('')}" class="btn btn-primary"><i class="glyphicon"></i>&nbsp;下移</a>
                    </td>
                </tr>
                {/volist}

                <?php foreach ($Schedule->klasses as $key => $_Klass): ?>
                <?php if($key === 0): ?>
                <tr>
                    <td rowspan="{:count($Schedule->klasses)}">上课班级</td>
                    <td>{:$_Klass->name}</td>
                    <td><a href="{:url('')}" class="btn btn-danger"><i class="glyphicon"></i>&nbsp;删除</a></td>
                </tr>
                <?php else: ?>
                <tr>
                    <td>{:$_Klass->name}</td>
                    <td><a href="{:url('')}" class="btn btn-danger"><i class="glyphicon"></i>&nbsp;删除</a></td>
                </tr>
                <?php endif; ?>
                <?php endforeach; ?>

                <!-- <?php foreach ($Schedule->getDispatches() as $key => $_Room): ?>
                <?php if($key === 0): ?>
                <tr>
                    <td rowspan="{:count($Schedule->getDispatches())}">上课时间/地点</td>
                    <td>1-12周>>星期二>>3-4节,教室A301</td>
                    <td><a href="{:url('')}" class="btn btn-danger"><i class="glyphicon"></i>&nbsp;删除</a></td>
                </tr>
                <?php else: ?>
                <tr>
                    <td>1-12周>>星期三>>5-6节,教室A302</td>
                    <td><a href="{:url('')}" class="btn btn-danger"><i class="glyphicon"></i>&nbsp;删除</a></td>
                </tr>
                <?php endif; ?>
                <?php endforeach; ?> -->

                <tr>
                    <td>教师</td>
                    <td>{:$Schedule->getTeacher()->getName()}</td>
                    <td>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{/block}
{block name="page"}
{/block}