{extend name="index"/}
{block name="title"}
教师端
{/block}
{block name="search"}
<hr />
<div class="row">
    <div class="col-md-3">
        <a href="{:url('courseAdd')}" class="btn btn-primary"><i class="glyphicon"></i>&nbsp;添加课程</a>&nbsp;&nbsp;
        <a href="{:url('')}" class="btn btn-primary"><i class="glyphicon"></i>&nbsp;导出所有课程</a>
    </div>
</div>
<hr />
{/block}
{block name="content"}
<h5>1、自动优先显示课程</h5>
<table class="table table-hover table-bordered">
    <tr class="info">
        <th>序号</th>
        <th>课程名称</th>
        <th>学期名称</th>
        <th>班级</th>
        <th>操作</th>
    </tr>
    <tr>
        <td>1</td>
        <td>数学分析</td>
        <td>2022年春季学期</td>
        <td>计2021 计2022</td>
        <td>
            <a class="btn btn-info" href="{:url('courseDetail')}"><i class="glyphicon"></i>&nbsp;编辑</a>
            <a class="btn btn-danger" href=""><i class="glyphicon"></i>&nbsp;删除</a>
        </td>
    </tr>
</table>
{/block}
{block name="page"}
{/block}