{extend name="index"/}
{block name="title"}
添加教室
{/block}
{block name="search"}
{/block}
{block name="content"}
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">
                <h4>当前学期:{:$currentTerm->name}</h4>
            </div>
            <div class="col-md-9 text-right">
                <a href="javascript:history.go(-1)" class="btn btn-primary">返回</a>
            </div>
        </div>
        </div>
        <table>
            <thead>
                <tr>
                    <td class="col-md-1"></td>
                    <td class="col-md-1">周一</td>
                    <td class="col-md-1">周二</td>
                    <td class="col-md-1">周三</td>
                    <td class="col-md-1">周四</td>
                    <td class="col-md-1">周五</td>
                    <td class="col-md-1">周六</td>
                    <td class="col-md-1">周日</td>
                </tr>
            </thead>
            <tbody>

                <?php foreach (range(1,5) as $row): ?>
                <tr>
                    <td style="border:solid 0.2px #999999;"><p>第{:$row}节</p></td>
                    <?php foreach (range(1,7) as $col): ?>
                    <td style="border:solid 0.2px #999999;">
                            <?php
                                $lastWeek = 0;
                                foreach($Dispatches as $key => $Dispatch) {
                                    if($Dispatch->day === $col && $Dispatch->lesson === $row) {
                                        $thisWeek =  $Dispatch->getWeek();
                                        if($thisWeek !== $lastWeek) {
                                            $lastWeek = $thisWeek;
                                            echo '<div style="font-size:20px;color:green;">第'.$Dispatch->getWeek().'周</div>';
                                        }
                                        echo '<div style="color:#EC5F66;">'.$Dispatch->getSchedule()->getCourse()->name.'</div>';
                                        foreach($Dispatch->getSchedule()->Klasses as $key => $Klass) {
                                            echo $Klass->name.'&nbsp';
                                        }
                                        foreach($Dispatch->Rooms as $key => $Room) {
                                            if($key === 0) {
                                                echo '<br>';
                                            }
                                            echo $Room->name.'&nbsp';
                                        }
                                        echo ';;'.'<br>';
                                    }
                                }
                            ?>
                    </td>
                    <?php endforeach; ?>
                </tr>
                <?php endforeach ?>
            </tbody>
        </table>
    </div>
</div>
{/block}
{block name="page"}
{/block}