{extend name="index"/}
{block name="title"}
课程管理
{/block}
{block name="search"}
{/block}
{block name="content"}
<form class="" action="{:url('courseSave')}" method="post">
    <div class="form-group row">
        <label for="course_id" class="col-sm-2 col-form-label" style="width: 162px">课程</label>
        <div class="col-sm-4">
            <select class="selectpicker form-control col-sm-12" name="course_id" id="course_id" required>
                <option value="">请选择课程</option>
                {volist name="Courses" id="_Course" key="key"}
                <option value="{$_Course->getId()}">{$_Course->getName()}</option>
                {/volist}
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="klass_id" class="col-sm-2 col-form-label" style="width: 162px">上课班级<br>(可多选)</label>
        <div class="col-sm-4">
            <select class="selectpicker form-control col-sm-12" multiple name="klass_id[]" id="klass_id" required>
                <option value="">请选择班级</option>
                {volist name="Klasses" id="_Klass" key="key"}
                <option value="{$_Klass->getId()}">{$_Klass->getName()}</option>
                {/volist}
            </select>
        </div>
    </div>
    
    <!-- 添加课程 -->
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-hover table-bordered">
                <tr>
                    <th class="">周几\课序</th>
                    <th class="">1</th>
                    <th class="">2</th>
                    <th class="">3</th>
                    <th class="">4</th>
                    <th class="">5</th>
                    <th class="">6</th>
                    <th class="">7</th>
                    <th class="">8</th>
                    <th class="">9</th>
                    <th class="">10</th>
                    <th class="">11</th>
                </tr>
                <?php foreach($Rows as $_Row): ?>
                <tr>
                    <td>周{:$dayArray[$_Row]}</td>
                    <?php foreach($Cols as $_Col): ?>
                    <td>
                        <ul class="accordion" data-accordion>
                            <li class="accordion-navigation">
                                <a href="#time_{:$_Row * 11 + $_Col + 1}">课程</a>

                                <!-- 周 -->
                                <div id="time_{:$_Row * 11 + $_Col + 1}" class="content col-md-6">
                                    <?php foreach($Weeks as $_Week): ?>
                                    <input type="checkbox" name="course_{:$_Row * 11 + $_Col + 1}[]" value="{:$_Week + 1}" id="{$_Row * 11 + $_Col + 1}_{$_Week+1}">
                                    <label for="{$_Row * 11 + $_Col + 1}_{$_Week+1}">第{:$_Week + 1}周</label>
                                    <?php endforeach; ?>
                                </div>

                                <!-- 教室 -->
                                <div id="time_{:$_Row * 11 + $_Col + 1}" class="content col-sm-6">
                                    <label>选择教室</label>
                                    <select name="room_{:$_Row * 11 + $_Col + 1}">
                                        <option value=""></option>
                                        {volist name="Rooms" id="_Room"}
                                        <option value="{:$_Room->getId()}">
                                            {:$_Room->getName()}
                                        </option>
                                        {/volist}
                                    </select>
                                </div>
                            </li>
                        </ul>
                    </td>
                    <?php endforeach; ?>
                </tr>
                <?php endforeach; ?>
            </table>
        </div>
    </div>
<!-- 初始化 Foundation JS -->
<script>
$(document).ready(function() {
    $(document).foundation();
})
</script>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">确定</button>
            <a href="{:url('courseSort')}" class="btn btn-primary"><i class="glyphicon"></i>&nbsp;返回</a>
        </div>
    </div>
</form>
<div style="height: 100px;">
</div>
{/block}
{block name="page"}
{/block}