{extend name="index"/}
{block name="title"}
添加教室
{/block}
{block name="search"}
{/block}
{block name="content"}
<table>
    <thead>
        <tr>
            <td class="col-md-1"></td>
            <td class="col-md-1">周一</td>
            <td class="col-md-1">周二</td>
            <td class="col-md-1">周三</td>
            <td class="col-md-1">周四</td>
            <td class="col-md-1">周五</td>
            <td class="col-md-1">周六</td>
            <td class="col-md-1">周日</td>
        </tr>
    </thead>
    <tbody>
        <?php foreach (range(1,5) as $row): ?>
        <tr>
            <td style="border:solid 0.2px #999999;"><p>第{:$row}节</p></td>
            <?php foreach (range(1,7) as $col): ?>
            <td style="border:solid 0.2px #999999;">
                    <?php
                        foreach($Dispatches as $key => $Dispatch) {
                            if($Dispatch->day === $col && $Dispatch->lesson === $row) {
                                echo $Dispatch->getSchedule()->getCourse()->name;
                                echo '<br>';
                                foreach($Dispatch->getSchedule()->Klasses as $key => $Klass) {
                                    echo $Klass->name;
                                }
                                echo '<br>';
                                var_dump($Dispatch->Rooms);
                                foreach($Dispatch->Rooms as $key => $Room) {
                                    echo $Room->name;
                                }
                            }
                        }
                    ?>
            </td>
            <?php endforeach; ?>
        </tr>
        <?php endforeach ?>
    </tbody>
</table>
{/block}
{block name="page"}
{/block}