<!-- 模态框 -->
<!-- Button trigger modal -->
<a (click)="getDayAndLesson(day, lesson)"  type="button" class="btn btn-info" data-toggle="modal" style="margin-left: 50px" data-target="#exampleModalCenter"> <!-- (click)="isShow(day, lesson)"-->
  周{{day}}第{{lesson}}节
</a>
<!-- Modal -->
<div (change)="toCourseTime(this.day, this.lesson)">
  <div id="exampleModalCenter" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="exampleModalCenterTitle">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">
            周{{day}}第{{lesson}}节
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="row" *ngFor="let week of weeks">
                &nbsp;&nbsp;<input type="checkBox" (click)="addSelectWeeks(week)">&nbsp;<label>第{{week}}周</label>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row" *ngFor="let room of rooms">
                <input type="checkBox" (click)="addSelectRooms(room.id)">&nbsp;<label>{{room.name}}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="sendParent(day, lesson)">保存数据</button>
        </div>
      </div>
    </div>
  </div>
</div>
