<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <title>教师端(mobile)</title>
    <meta charset="utf-8">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body class="container">
   <!-- 菜单导航 -->
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="">梦云智</a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{:url('Login/index')}">注销</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
<!-- /菜单导航 -->
<div class="row">
  <div class="col-sm-12">
      <table class="table table-hover table-bordered">
            <tr>
                <th class="info" colspan="4">座位签到状况（A301）</th>
            </tr>
            <tr>
                <td bgcolor="D6F3CC" class="col-sm-3" title="签到时间9:01">1&nbsp张三</td>
                <td bgcolor="D6F3CC" class="col-sm-3" title="签到时间9:01">2&nbsp李四</td>
                <td bgcolor="D6F3CC" class="col-sm-3" title="签到时间9:01">3&nbsp李五</td>
                <td bgcolor="D6F3CC" class="col-sm-3" title="签到时间9:01">5&nbsp李六</td>
            </tr>
            <tr>
                <td bgcolor="D6F3CC" class="col-sm-3" title="签到时间9:01">6&nbsp李七</td>
                <td bgcolor="D6F3CC" class="col-sm-3" title="签到时间9:01">7&nbsp李八</td>
                <td bgcolor="D6F3CC" class="col-sm-3" title="签到时间9:01">8&nbsp李九</td>
                <td bgcolor="FAD7D2" class="col-sm-3" title="异常:多人签到">4&nbsp&nbsp王五&nbsp&nbsp赵六</td>
            </tr>
            <tr>
                <th class="info" colspan="4">座位签到状况（A302）</th>
            </tr>
            <tr>
                <td bgcolor="D6F3CC" class="col-sm-3" title="签到时间9:01">1&nbsp&nbsp张一</td>
                <td bgcolor="D6F3CC" class="col-sm-3" title="签到时间9:01">2&nbsp&nbsp张二</td>
                <td bgcolor="f2f2f2" class="col-sm-3" title="签到时间9:01">3&nbsp&nbsp</td>
                <td bgcolor="f2f2f2" class="col-sm-3" title="签到时间9:01">4&nbsp&nbsp</td>
            </tr>
            <tr>
                <td bgcolor="f2f2f2" class="col-sm-3" title="签到时间9:01">5&nbsp&nbsp</td>
                <td bgcolor="f2f2f2" class="col-sm-3" title="签到时间9:01">7&nbsp&nbsp</td>
                <td bgcolor="f2f2f2" class="col-sm-3" title="签到时间9:01">8&nbsp&nbsp</td>
                <td bgcolor="FAD7D2" class="col-sm-3" title="异常:多人签到">6&nbsp&nbsp张四</td>
            </tr>
      </table>
  </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <label>已签到学生人数：9人(7 + 2)</label><br>
        <label>未签到：3人</label><br>
        <label>异常签到：4人(2 + 1)</label><br>
        <label>迟到：1人</label><br>
    </div>
    <div class="col-sm-2">
      <a href="{:url('coursing')}" class="btn btn-primary btn-block">返回</a>
    </div>
</div>
</body>
</html>