<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>教师端(mobile)</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body class="container">
   <!-- 菜单导航 -->
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="">梦云智</a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{:url('Login/index')}">注销</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
<!-- /菜单导航 -->
<div class="row">
  <div class="col-md-12">
      <table class="table table-hover table-bordered">
          <tr class="info">
              <th colspan="4">学生签到情况()</th>
          </tr>
          <tr>
              <td bgcolor="#FAD7D2">1—A301座4—001—张1</td>
              <td bgcolor="#D6F3CC">4—A301座5—002—张2</td>
              <td bgcolor="#D6F3CC">7—A301座6—003—张3</td>
              <td bgcolor="#D6F3CC">10—A301座10—004—张10</td>
          </tr>
          <tr>
              <td bgcolor="#D6F3CC">2—A301座7—005—张4</td>
              <td bgcolor="#D6F3CC">5—A301座8—006—张5</td>
              <td bgcolor="#D6F3CC">8—A301座9—007—张6</td>
              <td bgcolor="#FAD7D2">11—A301座11—008—张11</td>
          </tr>
          <tr>
              <td bgcolor="#f2f2f2">3—A301座1—009—张7</td>
              <td bgcolor="#f2f2f2">6—A301座2—010—张8</td>
              <td bgcolor="#D6F3CC">9—A302座3—011—张9</td>
              <td bgcolor="#D6F3CC">12—A302座6—012—张12</td>
          </tr>
      </table>
  </div>
</div>
<div class="row">
    <div class="col" style="margin-left: 20px">
        <label>已签到学生人数：8</label><br>
        <label>签到异常：2</label><br>
        <label>未签到：2</label>
    </div>
    <div class="col">
      <a href="{:url('courseStart')}" class="btn btn-primary">返回</a>
    </div>
</div>
</body>
</html>