{extend name="Index"}
{block name="title"}
登录
{/block}
{block name="nav"}
&nbsp<br>&nbsp
{/block}
{block name="content"}
<form action="{:url('Login/login')}" method="post">
    &nbsp
    <div class="row">
        <div class="col-md-3 col-md-offset-4">
            <label for="number">手机号:</label>
            <input type="text" name="number" id="number" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-4">
            <label for="password">密码:</label>
            <input type="password" name="password" id="password" class="form-control"/>
        </div>
    </div>
    &nbsp
    <div class="row">
        <div class="col-md-1 col-md-offset-4">
            <button type="submit" class="btn btn-primary btn-block">登录</button>
        </div>
    </div>
</form>
{/block}
