{extend name="index"/}
{block name="title"}
添加班级
{/block}
{block name="search"}
{/block}
{block name="content"}
<form action="{:url('update')}" method="post">
    <input type="hidden" name="id" value="{:$Klass->id}">
    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">班级名称</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="name" name="name" value="{:$Klass->name}">
        </div>
    </div>
    <div class="form-group row">
        <label for="entrance_date" class="col-sm-2 col-form-label">入学日期</label>
        <div class="col-sm-4">
            <input type="date" class="form-control" id="entrance_date" name="entrance_date" value="20210901">
        </div>
    </div>
    <div class="form-group row">
        <label for="educational_system" class="col-sm-2 col-form-label">学制</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="educational_system" name="educational_system" value="4">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">确定</button>
            <a href="{:url('index')}" class="btn btn-primary">返回</a>
        </div>
    </div>
</form>
{/block}
{block name="page"}
{/block}
{/block}
{block name="page"}
{/block}