{extend name="index"/}
{block name="title"}
添加班级
{/block}

{block name="search"}
{/block}
{block name="content"}
<form action="{:url('excelSave')}" method="post">
  <input type="hidden" name="id" value="">
  <div class="form-group row">
    <label for="name" class="col-sm-1 col-form-label">当前已选择</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="name" name="name" value=""  disabled>
    </div>
    <div style="margin-top: 3px">
      <button type="submit" class="btn btn-warning">选择Excel文件</button>
    </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">确定</button>
      <a href="{:url('klassMembers')}" class="btn btn-primary">返回</a>
    </div>
  </div>
</form>
{/block}
{block name="page"}
{/block}
{/block}
{block name="page"}
{/block}