<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>{block name="title"}标题{/block}</title>
    <?php echo app\index\controller\IndexController::getHeadHtmls(); ?>
    <style type="text/css">
        .badge-primary {
            color: #fff;
            background-color: #007bff;
        }
        .badge-secondary {
            color: #fff;
            background-color: #6C757D;
        }

    </style>
</head>

<body class="container">
    <!-- 菜单导航 -->
    <div class="row">
        <div class="col-md-12">
            {block name="nav"}
            <!-- 菜单导航 -->
                <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="http://www.mengyunzhi.com">梦云智</a>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                {volist name="Menus" id="_Menu" key="key"}
                                <ul class="nav navbar-nav {:$_Menu->getClass()}">
                                    <li class="{:$_Menu->getClass()}">
                                        <a href='{:url($_Menu->module."/".$_Menu->controller."/".$_Menu->action)}'>{:$_Menu->name}</a>
                                    </li>
                                </ul>
                                {/volist}
                        </div>
                    </div>
                </nav>
            <!-- /菜单导航 -->
            {/block}
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            {block name="search"}
            {/block}
            {block name="content"}
            {/block}
            {block name="page"}
            {/block}
        </div>
    </div>

</body>

</html>