<div class="row">
  <div class="col col-md-8">
    <div class="col-sm-12">
      <a class="btn btn-primary" routerLink="/teacher/schedule"><i class="glyphicon"></i>&nbsp;返回</a>&nbsp;&nbsp;
      <a class="btn btn-info" routerLink="programAdd"><i class="glyphicon"></i>&nbsp;添加项目</a>&nbsp;&nbsp;
      <a class="btn btn-success" routerLink="timeAdd">&nbsp;添加上课时间</a>&nbsp;
      <a class="btn btn-success" routerLink="clazzAdd">&nbsp;添加上课班级</a>&nbsp;
    </div>
    <hr>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col-md-3">项</th>
        <th scope="col-md-3">内容</th>
        <th scope="col-md-3">其它</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>课程名称</td>
        <td>程序设计</td>
        <td>
          <a class="btn btn-success"><i class="glyphicon"></i>&nbsp;编辑</a>
        </td>
      </tr>
      <tr>
        <td>学时</td>
        <td>16</td>
        <td></td>
      </tr>
      <tr>
        <td>项目1</td>
        <td>C语言（学时：4）</td>
        <td>
          <a class="btn btn-danger"><i class="glyphicon"></i>&nbsp;删除</a>
          <a class="btn btn-success"><i class="glyphicon"></i>&nbsp;编辑</a>
          <a class="btn btn-primary"><i class="glyphicon"></i>&nbsp;上移</a>
          <a class="btn btn-primary"><i class="glyphicon"></i>&nbsp;下移</a>
        </td>
      </tr>

      <tr>
        <td>上课班级</td>
        <td>计2101</td>
        <td><a class="btn btn-danger"><i class="glyphicon"></i>&nbsp;删除</a></td>
      </tr>

      <tr>
        <td rowspan="{:count($DispatchArr)}">上课时间/地点</td>
        <td>第一周第1节,教室A101</td>
        <td><a class="btn btn-danger"><i class="glyphicon"></i>&nbsp;删除</a></td>
      </tr>

      <tr>
        <td>教师</td>
        <td>张三</td>
        <td>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
