<form [formGroup]="formGroup">
  <div class="form-group row">
    <label for="name" class="col-sm-2 col-form-label"><code>*</code>名称</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="name" formControlName="name" value="">
      <small class="text-danger" *ngIf="formGroup.get('name')?.invalid">
        <ng-container *ngIf="!formGroup.get('name')?.errors?.clazzNameUnique">长度应在2-25之间</ng-container>
        <ng-container *ngIf="formGroup.get('name')?.errors?.clazzNameUnique === '名称已存在'">名称已存在</ng-container>
      </small>
    </div>
  </div>
  <div class="form-group row">
    <label for="entrance_date" class="col-sm-2 col-form-label"><code>*</code>入学日期</label>
    <div class="col-sm-4">
      <app-date formControlName="entrance_date" id="entrance_date"></app-date>
    </div>
  </div>
  <div class="form-group row">
    <label for="length" class="col-sm-2 col-form-label"><code>*</code>学制</label>
    <div class="col-sm-4">
      <input type="number" class="form-control" id="length" formControlName="length">
      <small class="text-danger" *ngIf="formGroup.get('length')?.invalid">
        应为1-10之间的整数
      </small>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary" (click)="onSubmit()" [disabled]="formGroup.get('length')?.errors || formGroup.get('name')?.errors?.clazzNameUnique !== '名称合理'">确定</button>
      <a class="btn btn-primary" routerLink="../">返回</a>
    </div>
  </div>
</form>
