{extend name="./../../index/view/index"/}
{block name="title"}
管理员端-教师管理
{/block}
{block name="search"}
<hr />
<div class="row">
    <div class="col-md-3">
        <a href="{:url('add')}" class="btn btn-primary"><i class="glyphicon"></i>&nbsp;添加教师</a>
    </div>
    <div class="col-md-10">
        <form class="form-inline">
            <div class="form-group">
                <input name="name" type="text" class="form-control" placeholder="姓名" style="margin-top: 20px" value="{$name}">
                <input name="number" type="text" class="form-control" placeholder="手机号" style="margin-top: 20px" value="{$number}">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default" style="height: 30px"><i class="glyphicon glyphicon-search"></i>&nbsp;查询</button>
            </div>
        </form>
    </div>
</div>
<hr />
{/block}
{block name="content"}
<table class="table table-hover table-bordered">
    <tr class="info">
        <th>序号</th>
        <th>姓名</th>
        <th>性别</th>
        <th>手机号</th>
        <th>操作</th>
    </tr>
    {volist name="Users" id="_User" key="key"}
    <tr>
        <td>{$key}</td>
        <td>{$_User->getName()}</td>
        <td>{$_User->getSex()}</td>
        <td>{$_User->getNumber()}</td>
        <td>
            <a href="{:url('edit?user_id='. $_User->getId())}" class="btn btn-primary">编辑</a> &nbsp;&nbsp;
            <a href="{:url('passwordEdit?user_id='. $_User->getId())}" class="btn btn-success">修改密码</a>&nbsp;&nbsp;
            <a href="{:url('delete?user_id='. $_User->getId())}" class="btn btn-danger">删除</a>
        </td>
    </tr>
    {/volist}
</table>
{/block}
{block name="page"}
{$Users->render()}
{/block}