<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<title>学生签到</title>
</head>

<body class="container" style="margin-top: 20px">
    <div>
        <div class="row">
            <div class="col-12 p-2">
                <label for="username" style="font-size: 100px">此座位已被签到</label>
            </div>
        </div>
        <div class="row">
            <div class="col-12 p-2">
                <label for="username" style="font-size: 50px">提示:请到其他座位上签到...</label>
            </div>
        </div>
    </div>
</body>

</html>