<form  [formGroup]="queryForm">
  <div class="form-row">
    <div class="form-group col-md-2">
      <input type="text" class="form-control" placeholder="班级" formControlName="clazz">
    </div>
    <div class="form-group col-md-2">
      <input type="text" class="form-control" placeholder="姓名" formControlName="name">
    </div>
    <div class="form-group col-md-2">
      <input type="text" class="form-control" placeholder="学号" formControlName="sno">
    </div>
    <div class="form-group text-left col-md-3 search">
      <button type="submit" class="btn btn-info" (click)="onSubmit()">
        <i class="fas fa-search"></i> 查询
      </button>
    </div>
    <div class="form-group col-md-3 text-right">
      <a class="btn btn-primary" [routerLink]="'add'"><i class="fas fa-plus"></i>新增</a>
    </div>
  </div>
</form>
<table class="table table-striped mt-2">
  <thead>
  <tr class="table-primary">
    <th>序号</th>
    <th>姓名</th>
    <th>性别</th>
    <th>班级</th>
    <th>学号</th>
    <th>手机号</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let student of pageDate.content; index as i">
    <td>{{i + 1}}</td>
    <td>{{student.user.name}}</td>
    <td>{{student.user.sex | sex}}</td>
    <td>{{student.clazz.name }}</td>
    <td>{{student.sno}}</td>
    <td *ngIf="student.state === 1">{{student.user.number}}</td>
    <td *ngIf="student.state === 0" style="color: crimson">未注册</td>
<!--    <td style="color: crimson">{{student.state ? student.user.number : '未注册'}}</td>-->
    <td>
      <a class="btn btn-sm btn-primary" [routerLink]="'edit/' + student.user.id"><i class="fas fa-pen"></i>编辑</a>
      <a class="btn btn-sm btn-danger" (click)="onDelete(student.user.id)"><i class="far fa-trash-alt"></i>删除</a>
      <a class="btn btn-sm btn-success col-md-4" [routerLink]="'updatePassword/'  + student.user.id"><i class="fas fa-lock"></i>修改密码</a>
    </td>
  </tr>
  </tbody>
</table>

<app-page [page]="pageDate" (bePageChange)="onPage($event)"></app-page>
