<div>
  <input type="hidden" name="schedule_id" value="{:$Schedule->id}">
  <div class="form-group row">
    <label for="" class="col-sm-2 col-form-label">课程名称</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="" value="程序设计" disabled>
    </div>
  </div>
  <div class="form-group row">
    <label for="klass" class="col-sm-2 col-form-label">上课班级<br>(可多选)</label>
    <div class="col-sm-4">
      <select class="selectpicker form-control col-sm-12" multiple name="klass_id[]" id="klass">
        <option>计2101</option>
        <option>计2102</option>
        <option>计2103</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">确定</button>
      <a class="btn btn-primary" routerLink="/teacher/schedule/edit"><i class="glyphicon"></i>&nbsp;返回</a>
    </div>
  </div>
</div>
