{extend name="index"/}
{block name="title"}
添加班级
{/block}
{block name="search"}
<hr />
<div class="row">
    <div class="col">
        <label>已选择班级Excel文件:</label><input type="" name="" class="form-control" style="width: 200px">
    </div>
    <div class="col" style="margin-top: 20px">
        <a href="" class="btn btn-primary"><i class="glyphicon"></i>&nbsp;选择Excel文件</a>
    </div>
    <div class="col" style="margin-top: 20px">
        <a href="{:url('klassAdd')}" class="btn btn-primary"><i class="glyphicon"></i>&nbsp;导入</a>
    </div>
    <div class="col" style="margin-top: 20px">
        <a href="{:url('klass')}" class="btn btn-primary"><i class="glyphicon"></i>&nbsp;返回</a>
    </div>
</div>
<hr />
{/block}