<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">学期课程表</a></li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-12">
    <div class="form-group row">
      <div class="col-md-5" *ngIf="term">
        <h4>学期：{{ term.name }}</h4>
      </div>
      <div class="col-md-6 text-right">
        <a class="btn btn-primary" [routerLink]="'/teacher/courseSchedule'">返回</a>
      </div>
    </div>
    <table class="table table-striped table-bordered">
      <thead class="table-primary">
        <tr>
          <th class="col-md-1"></th>
          <th class="col-md-1">周一</th>
          <th class="col-md-1">周二</th>
          <th class="col-md-1">周三</th>
          <th class="col-md-1">周四</th>
          <th class="col-md-1">周五</th>
          <th class="col-md-1">周六</th>
          <th class="col-md-1">周日</th>
        </tr>
      </thead>
      <tbody >
      <tr *ngFor="let lesson of lessons; index as l">
        <td>第{{ lesson }}节</td>
        <td *ngFor="let day of days;index as d">
          <!--等到数据返回后才会对每个小方框进行渲染-->
          <ng-container *ngIf="flag">
            <!--获取当前小单元对应dispatch，赋值到this.dispatch-->
            <ng-container *ngIf="loadDispatch(d, l)">
              <!--循环出每周的信息-->
              <div *ngFor="let info of dispatch; index as w">
                <!--如果该周有课再渲染-->
                <ng-container *ngIf="info.length">
                  <div style="color: green; font-size: large">第{{ w + 1 }}周</div>
                  <!--循环出每个课程的信息-->
                  <ng-container *ngFor="let unit of info; index as i">
                    <div style="color: red">{{ getCourse(d, l, w, i) }}</div>
                    {{ getClazzes() }}<br>
                    {{ getRooms() }}
                  </ng-container>
                </ng-container>
              </div>
            </ng-container>
          </ng-container>
        </td>
      </tr>
<!--      <tr>-->
<!--        <th scope="row">第一节</th>-->
<!--        <td></td>-->
<!--        <td></td>-->
<!--        <td></td>-->
<!--        <td style="border:solid 0.2px #999999;">-->
<!--          <div style="color: red">软件学习<br/></div>-->
<!--          软件2101、2102班<br/>-->
<!--          教室A101-4<br/>-->
<!--        </td>-->
<!--        <td></td>-->
<!--        <td></td>-->
<!--        <td></td>-->
<!--      </tr>-->

      </tbody>
    </table>
  </div>
</div>
