{extend name="./../../index/view/index"/}
{block name="title"}
签到成功
{/block}
{block name="content"}
<form action="{:url('')}" method="post">
    <div>
        <div class="row">
            <div class="col-md-12">
                <label for="course">当前课程:</label>
                <input type="text" name="course" id="course" class="form-control" value="程序设计" disabled />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label for="seat">当前位置:</label>
                <input type="text" name="seat" id="seat" class="form-control" value="A301-1" disabled />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label for="name">签到人:</label>
                <input type="text" name="name" id="name" class="form-control" value="张三" disabled />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label for="code">课程暗号:</label>
                <input type="text" name="code" id="code" class="form-control" value="123456" disabled />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label for="time">签到时间:</label>
                <input type="text" name="time" id="time" class="form-control" value="2022/3/17 14:30" disabled />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary btn-lg btn-block" disabled>签到已完成</button>
            </div>
        </div>
    </div>
</form>
{/block}
