{extend name="index"/}
{block name="title"}
暗号签到
{/block}
{block name="content"}
<form action="{:url('PasswordConfirmation')}" method="post">
    <div>
        <div class="row">
            <div class="col-md-12">
                <label for="seat">当前位置:</label>
                <input type="text" name="seat" id="seat" class="form-control" value="A301-1" disabled />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label for="name">签到人:</label>
                <input type="text" name="name" id="name" class="form-control" value="张三" disabled />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label for="code">请输入课程暗号:</label>
                <input type="text" name="code" id="code" class="form-control" />
            </div>
        </div>
        &nbsp
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary btn-lg btn-block">确定</button>
            </div>
        </div>
    </div>
</form>
{/block}
