<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">查看学生: {{courseName}}</li>
    <li class="breadcrumb-item"><a href="#">新增学生</a></li>
  </ol>
</nav>

<body class="container">
<form style="margin-top: 20px" *ngIf="flag" [formGroup]="formGroup">
  <div class="form-group row">
    <label class="col-sm-1 col-form-label"><code>*</code>班级</label>
    <div class="col-sm-4">
      <select class="form-control" formControlName="class_id" style="width: 200px" (change)="onChange(formGroup.get('class_id')?.value)">
        <option *ngFor="let clazz of clazzes" [value]="clazz.id"> {{ clazz.name }} </option>
      </select>
    </div>
  </div>
  <div class="form-group row" *ngIf="formGroup.get('class_id')?.value">
    <label class="col-sm-1 col-form-label"><code>*</code>学生</label>
    <div class="col-sm-4">
      <select class="form-control" formControlName="student_id" style="width: 200px">
        <option *ngFor="let student of students;" [value]="student.user.id"> {{ student.user.name + '[' + student.sno + ']' }}</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-3 text-center">
      <button type="submit" class="btn btn-primary" [disabled]="formGroup.invalid" (click)="onSubmit()">保存</button>
      <a class="btn btn-primary" [routerLink]="'../'">返回</a>
    </div>
  </div>
</form>
</body>
