<form class="container-sm">
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label  text-right" for="location">当前位置</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="location" name="location"  value="A301-1" disabled=“disabled”>
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label  text-right" for="person">签到人</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="person" name="person" value="张三" disabled=“disabled”>
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label text-right" for="signal">请输入课程暗号</label>
    <div class="col-sm-10">
      <input type="string" class="form-control" id="signal" name="signal">
    </div>
  </div>
  <div class="mb-3 row">
    <div class="col-sm-10 offset-2">
      <button class="btn btn-primary" type="submit" routerLink="./affirm">确认</button>
    </div>
  </div>
</form>
