{extend name="index"/}
{block name="title"}
添加上课时间
{/block}
{block name="search"}
{/block}
{block name="content"}
<div id="main">
</div>
<script>
var courseTimes = new Array();   //先声明一维
for(var i=0;i<7;i++){        //一维长度为7
    courseTimes[i]=new Array();    //在声明二维
    for(var j=0;j<11;j++){      //二维长度为11
        courseTimes[i][j]=[];
    }
}
var scheduleId = {:input('schedule_id')};
// 班级选择
const RootComponent = {
    data() {
        return {
            active: [-1, -1],
            dispatches: [],
            isSelectCourse: null,
            isSelectKlass: [],
            allowedKlasses: [],
            teacher: null,
            klasses: [],
            weekName: ['一', '二', '三', '四', '五', '六', '日'],
            courseTimes: courseTimes,
            scheduleId: scheduleId,
        }
    },
    methods: {
        onCourseSelect(course, allowedKlasses) {
            // console.log(course);
            this.isSelectKlass = null;
            this.isSelectCourse = course;
            this.allowedKlasses = allowedKlasses;
        },
        onKlassSelect(klass) {
            // console.log(klass);
            this.isSelectKlass = klass;
            if (klass.length === 1 && !klass[0]) {
                this.isSelectKlass = null;
            }
        },
        changeActive(active) {
            if (this.active[1] === active) {
                return ;
            }
            this.active[0] = this.active[1];
            this.active[1] = active;
        },
        submit() {
            var status = this.checkCourseTimes();
            if (!status) return ;
            data = {'teacherId':this.teacher.id, 'courseId': this.isSelectCourse, 'scheduleId': this.scheduleId, 'courseTimes': this.courseTimes};
            axios.
                post("{:url('courseTimeSave')}", data).
                then( function(response) {
                    console.log(response);
                    if (response) {
                        window.location.href = "{:url('courseDetail?schedule_id='.input('schedule_id'))}";
                    }
                })
        },
        courseTime(day, lesson, selectWeeks, selectRoomIds) {
            this.courseTimes[day][lesson]= {'weeks': selectWeeks,'roomIds': selectRoomIds};
        },
        checkCourseTimes() {
            var count = 0; //计数器，保证时间不是空
            for (var i = 0; i < 7; i++) {
                for (var j = 0; j < 5; j++) {
                    if(this.courseTimes[i][j].length !== 0) {
                        console.log('courseTimes不为空',i,j);
                        if ((this.courseTimes[i][j].weeks.length===0&&this.courseTimes[i][j].roomIds.length !== 0) || (this.courseTimes[i][j].weeks.length!==0&&this.courseTimes[i][j].roomIds.length === 0)) {
                            alert(`请检查:
                                周${this.weekName[i]}第${this.weekName[j]}节课
                                是否少选周或者教室后重新提交`);
                            return false;
                        } else if (this.courseTimes[i][j].weeks.length!==0&&this.courseTimes[i][j].roomIds.length !== 0) {
                            count++;
                        }
                    }
                }
            }
            if (count === 0) {
                alert('请至少选择一项上课时间');
                return false;
            }
            return true;
        }
    },

    template: `
    {{courseTimes}}
    {{scheduleId}}
    {{scheduleId+'123123123123123123123'}}
    <form>
        <div class="form-group row">
            <div class="col-sm-10">
                <a href="{:$backUrl}" class="btn btn-primary"><i class="glyphicon"></i>&nbsp;返回</a>
            </div>
        </div>
        <br>
        <input type="hidden" name="schedule_id" value="{:$Schedule->id}">
        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">课程名称:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="" value="{:$Schedule->getCourse()->name}" disabled>
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label" rowspan="{:count($Schedule->klasses)}">上课班级:</label>
        <?php foreach ($Schedule->klasses as $key => $_Klass): ?>
            <div class="col-sm-1">
                <input type="text" class="form-control" id="" value="{:$_Klass->name}" disabled>
            </div>
        <?php endforeach; ?>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <label for="">上课时间：</label>
            </div>
        </div>

        <!--选择时间-->
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-hover table-bordered">
                    <tr>
                        <th class="">周几/课序</th>
                        <th class="">1</th>
                        <th class="">2</th>
                        <th class="">3</th>
                        <th class="">4</th>
                        <th class="">5</th>
                    </tr>
                    <tr v-for="row in [0, 1, 2, 3, 4, 5, 6]">
                        <td>周{{weekName[row]}}</td>
                        <td v-for="col in [0, 1, 2, 3, 4]">
                            <ul class="accordion" data-accordion>
                                <li class="accordion-navigation">
                                <!--选择时间-->
                                    <course-time-select  @change-active="changeActive" @course-time="courseTime"  :day="row" :lesson="col" :dispatches="dispatches" :selectKlass="isSelectKlass" :teacher="teacher" :active="active" :klasses="klasses"></course-time-select>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <a type="submit" @click="submit" value="123" class="btn btn-primary">确定</a>
                </div>
            </div>
        </div>
    </form>
    `,
    mounted () {
        axios.all([
            axios
                .get('{:url("Vue/getDispatchesJson")}')
                .then(res => res.data),
            axios
                .get('{:url("Vue/getTeacherJson")}')
                .then(res => res.data),
            axios
                .post('{:url("Vue/getKlassesJson")}', {'scheduleId': scheduleId})
                .then(res => res.data),
            axios
                .post('{:url("Vue/getDispatchesJson")}', 1)//显示default
                .then(res => res.data)
        ]).then(
            axios.spread((val1, val2, val3, val4) => {
                this.dispatches = val1;
                this.teacher = val2;
                this.klasses = val3;
                console.log(val4);
            })
        ).catch(err => {
            console.log(err) ;
        })
    }

}

const app = Vue.createApp(RootComponent);
// 上课时间选择
app.component('course-time-select',{
    data() {
        return {
            clickCount: 0,
            dispatchWeeks: null,
            dispatchRooms: null,
            dispatchs: null,
            conflictData: [],
            selectWeeks: [],
            selectRoomIds: [],
            disableWeeks: [],
            disableRoomIds: [],
            defaultCheckedWeeks: [],
            defaultCheckedRooms: [],
        }
    },
    props: {
        active: null,
        day: null,
        lesson: null,
        dispatches: null,
        //已选择的班级
        selectKlass: null,
        teacher: null,
        klasses: null,
    },
    emits: ['changeActive', 'courseTime'],
    template: `
    {{'--------conflictdata and dontDisplayWeeks-------'}}
    {{conflictData}}
    {{dontDisplayWeeks}}
    {{'---------------'}}
    {{'------disabled------'}}
    {{disableWeeks}}
    {{disableRoomIds}}
    {{'-------select---------'}}
    {{selectWeeks}}
    {{selectRoomIds}}
    {{'--------selectEnd-------'}}
    {{defaultCheckedWeeks}}
    {{defaultCheckedRooms}}
    {{'------------------'}}
    {{defaultCheckedWeeksAndRooms}}

        <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-primary" @click="onChange">周{{weekday(day+1)}}第{{lesson+1}}节</a>
        <div v-if="isShow()" class="row" @change="courseTime">
            <!-- 模态框 -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">

                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">周{{weekday(day+1)}}第{{lesson+1}}节</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div  class="row" @change="courseTime">
                                <div class="col-sm-6">
                                    <!--选择周数-->
                                    <week-select @add-select-weeks="addSelectWeeks" :disableWeeks="disableWeeks" :dontDisplayWeeks="dontDisplayWeeks" :alreadySelectWeeks="selectWeeks" :defaultCheckedWeeks="defaultCheckedWeeks" :day="day" :lesson="lesson"></week-select>
                                </div>
                                <div class="col-sm-6">
                                    <!--选择教室-->
                                    <room-select @add-select-room-ids="addSelectRoomIds" :disableRoomIds="disableRoomIds" :alreadySelectRoomIds="selectRoomIds" :defaultCheckedRooms="defaultCheckedRooms" :day="day" :lesson="lesson"></room-select>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">保留数据</button>
                        </div>
                    </div>
                </div>
            </div>
        <div>
        <!-- 调用数据对接 -->
    `,
    methods: {
        test() {
            return '12312312312312312323123123123';
        },
        isShow() {
            if (this.active[0] === this.day * 11 + this.lesson && this.clickCount % 2===1) {
                this.clickCount++;
            }
            
            if (this.clickCount % 2 === 0) { this.clickCount++; }
            return (this.day * 11 + this.lesson === this.active[1]) && this.clickCount % 2;
        },
        courseTime() {
            this.selectRoomIds = this.unique(this.selectRoomIds);
            this.$emit('courseTime', this.day, this.lesson, this.selectWeeks, this.selectRoomIds);
        },
        onChange() {
            this.clickCount++;
            this.$emit('changeActive', this.day * 11 + this.lesson);
        },
        weekday(day) {
            if (day === 1) { return "一"; }
            if (day === 2) { return "二"; }
            if (day === 3) { return "三"; }
            if (day === 4) { return "四"; }
            if (day === 5) { return "五"; }
            if (day === 6) { return "六"; }
            if (day === 7) { return "日"; }
        },
        addSelectWeeks(selectWeek) {
            // 添加selectWeek
            // 对某个周勾选或取消的判断
            var status = true;
            for (var i = 0; i < this.selectWeeks.length; i++) {
                if (selectWeek == this.selectWeeks[i]) {
                    status = !status;
                    break;
                }
            }
            if (status) {
                // 若勾选，则加入到selectWeeks数组中
                this.selectWeeks.push(selectWeek);
            } else {
                // 若取消，则从selectWeeks数组中删去
                // 变量d，记录当前取消勾选的周数
                var d = this.selectWeeks[i];
                this.selectWeeks.splice(i, 1);
            }

            // 添加disableRoomIds
            // 对某个周勾选或取消的判断
            var sta = false;
            for (var n = 0; n < this.selectWeeks.length; n++) {
                if (selectWeek == this.selectWeeks[n]) {
                    sta = !sta;
                    break;
                }
            }
            // 如果selectWeeks的长度大于0，即有勾选周数，且当前勾选的周数能在conflictData中找到，则添加disableRoomIds
            if (this.selectWeeks.length > 0 && sta) {
                // 遍历conflictData数组
                for (var i = 0; i < this.conflictData.length; i++) {
                    // 如果当前勾选的周数能在conflictData中找到
                    if (this.selectWeeks[this.selectWeeks.length-1] == this.conflictData[i].week) {
                        for (var j = 0; j < this.conflictData[i].roomIds.length; j++) {
                            // 求并集
                            // 则添加对应的disableRoomId进入disableRoomIds中
                            if(!this.defaultCheckedRooms.includes(this.conflictData[i].roomIds[j])) {
                                this.disableRoomIds.push(this.conflictData[i].roomIds[j]);
                            }
                        }
                    }
                }
            } else {
                // 当某个周数取消勾选后，从disableRoomIds中删除对应的roomIds
                // 遍历conflictData数组
                for (var a = 0; a < this.conflictData.length; a++) {
                    // 如果当前取消勾选的周数能在conflictData中找到
                    if (d == this.conflictData[a].week) {
                        // 从disableRoomIds中删除对应的roomIds
                        for (var c = 0; c < this.conflictData[a].roomIds.length; c++) {
                            for (var b = 0; b < this.disableRoomIds.length; b++) {
                                if (this.conflictData[a].roomIds[c] == this.disableRoomIds[b]) {
                                    this.disableRoomIds.splice(b, 1);
                                    break;
                                }
                            }
                        }
                    }
                }
            }
        },
        addSelectRoomIds(selectRoomId) {
            // 添加selectRoomIds
            // 对某个教室勾选或取消的判断
            var status = true;
            for (var i = 0; i < this.selectRoomIds.length; i++) {
                if (selectRoomId == this.selectRoomIds[i]) {
                    status = !status;
                    break;
                }
            }
            if (status) {
                // 若勾选，则加入到selectRoomIds数组中
                this.selectRoomIds.push(selectRoomId);
            } else {
                // 若取消，则从selectRoomIds数组中删去
                // 变量d，记录当前取消勾选的教室
                var d = this.selectRoomIds[i];
                this.selectRoomIds.splice(i, 1);
            }
            // 添加disableWeeks
            // 对某个教室勾选或取消的判断
            var sta = false;
            for (var n = 0; n < this.selectRoomIds.length; n++) {
                if (selectRoomId == this.selectRoomIds[n]) {
                    sta = !sta;
                    break;
                }
            }
            // 如果selectRoomIds的长度大于0，即有勾选教室，且当前勾选的教室id能在conflictData中找到，则添加disableWeeks
            if (this.selectRoomIds.length > 0 && sta) {
                // 遍历conflictData数组
                for (var b = 0; b < this.conflictData.length; b++) {
                    // 遍历conflictData[b].roomIds数组
                    for (var c = 0; c < this.conflictData[b].roomIds.length; c++) {
                        // 如果当前勾选的教室能在conflictData中找到
                        if (this.selectRoomIds[this.selectRoomIds.length-1] == this.conflictData[b].roomIds[c]) {
                            // 求并集
                            // 添加对应的disableWeek进入disableWeeks中
                            this.disableWeeks.push(this.conflictData[b].week);
                        }
                    }
                }
            } else {
                //  当某个教室取消勾选之后，从disableWeeks中删去对应的week
                // 遍历conflictData数组
                for (var j = 0; j < this.conflictData.length; j++) {
                    // 遍历conflictData[j].roomIds数组
                    for (var m = 0; m < this.conflictData[j].roomIds.length; m++) {
                        // 如果当前取消勾选的教室能在conflictData中找到
                        if (d == this.conflictData[j].roomIds[m]) {
                            // 遍历disableWeeks数组
                            for (var x = 0; x < this.disableWeeks.length; x++) {
                                // 如果conflictData[j]中的week能够在disableWeeks[x]中找到
                                if (this.conflictData[j].week == this.disableWeeks[x]) {
                                    // 删去找到的week
                                    this.disableWeeks.splice(x, 1);
                                    break;
                                }
                            }
                        }
                    }
                }
            }
        },
        unique(arr){            
                for(var i=0; i<arr.length; i++){
                    for(var j=i+1; j<arr.length; j++){
                        if(arr[i]==arr[j]){         //第一个等同于第二个，splice方法删除第二个
                            arr.splice(j,1);
                            j--;
                        }
                    }
                }
            return arr;
        }
    },
    computed: {
        conflictWeeksAndRooms() {
            conflictWeeksAndRooms = [];
            dispatches = this.dispatches;
            for (var i = this.dispatches.length - 1; i >= 0; i--) {
                //挑选出当前day和lesson的
                if (dispatches[i].day===this.day && dispatches[i].lesson===this.lesson) {
                    conflictWeeksAndRooms.push(dispatches[i]);
                }
            }
            weeksAndRooms = [];
            for (var i = conflictWeeksAndRooms.length - 1; i >= 0; i--) {
                weeksAndRooms.push({week:conflictWeeksAndRooms[i].week, roomIds:conflictWeeksAndRooms[i].roomIds});
            }
            this.conflictData = weeksAndRooms;
            return conflictWeeksAndRooms;
        },
        dontDisplayWeeks() {
            dontDisplayWeeksAndRooms = [];
            dispatches = this.conflictWeeksAndRooms;
            for (var i = dispatches.length - 1; i >= 0; i--) {
                //符合当前教师的
                if (dispatches[i].teacherId === this.teacher.id) {
                    dontDisplayWeeksAndRooms.push(dispatches[i]);
                    continue;
                }
                for (var j = this.klasses.length - 1; j >= 0; j--) {
                //如果调度中包括选择的班级就说明当前周不能用,即存入dontDisplayWeeksAndRooms(不包括直接排除)
                    if (dispatches[i].klassIds.includes(this.selectKlass[j])) {
                        dontDisplayWeeksAndRooms.push(dispatches[i]);
                        //有一个班级被包含就足够了
                        break;
                    }
                }
            }

            dontDisplayWeeks=[];
            for (var i = dontDisplayWeeksAndRooms.length - 1; i >= 0; i--) {
                dontDisplayWeeks.push(dontDisplayWeeksAndRooms[i].week);
            }
            return dontDisplayWeeks;
        },
        defaultCheckedWeeksAndRooms() {
            if(this.clickCount === 1) {
                defaultCheckedWeeksAndRooms = [];
                //当前day和lesson的数据
                dispatches = this.conflictWeeksAndRooms;
                defaultCheckedWeeksAndRooms = dispatches.filter(dispatch => dispatch.scheduleId === scheduleId);

                var weeksAndRooms = [];
                var selectWeeks = [];
                var selectRoomIds = [];
                for (var i = defaultCheckedWeeksAndRooms.length - 1; i >= 0; i--) {
                    selectWeeks.push(defaultCheckedWeeksAndRooms[i].week);
                    this.defaultCheckedWeeks.push(defaultCheckedWeeksAndRooms[i].week);
                    for (var j = defaultCheckedWeeksAndRooms[i].roomIds.length - 1; j >= 0; j--) {
                        selectRoomIds.push(defaultCheckedWeeksAndRooms[i].roomIds[j]);
                        this.defaultCheckedRooms.push(defaultCheckedWeeksAndRooms[i].roomIds[j]);
                    }

                }

                //将默认选择的周和教室通过方法筛选数据
                //完善 selectRoomIds selectWeeks disabledWeeks disabledRoomIds
                for (var i = selectWeeks.length - 1; i >= 0; i--) {
                    this.addSelectWeeks(selectWeeks[i]);
                }
                selectRoomIds = this.unique(selectRoomIds);
                for (var i = selectRoomIds.length - 1; i >= 0; i--) {
                    this.addSelectRoomIds(selectRoomIds[i]);
                }
                this.courseTime();
            }
        }
    },
})

//  上课时间选择-周
app.component('week-select', {
    data() {
        return {
            weeks: null,
            termStartTime: null,
            termEndTime: null,
        }
    },
    props: {
        disableWeeks: null,
        dontDisplayWeeks: null,
        alreadySelectWeeks: null,
        defaultCheckedWeeks: null,
        day: null,
        lesson: null,
    },
    template: `
        {{defaultCheckedWeeks}}
        {{calculateTotalWeeks()}}
        <label>上课周</label>
        <div class="row" v-for="week in weeks">
            <div class="col" v-if="disableShowWeek(week)">
                <div v-if="isChecked(week)">
                    <input checked  type="checkbox" name="" value="" id="" @change="addSelectWeeks(week)" >
                    <label for="">第{{week}}周</label>
                </div>
                <div v-if="!isChecked(week)">
                    <input type="checkbox" name="" value="" id="" @change="addSelectWeeks(week)">
                    <label for="">第{{week}}周</label>
                </div>
            </div>
            <div class="col" v-if="!disableShowWeek(week)">
                <div v-if="isChecked(week)">
                    <input checked  type="checkbox" name="" value="" id="" @change="addSelectWeeks(week)" >
                    <label for="">第{{week}}周</label>
                </div>
                <div v-if="!isChecked(week)">
                    <input type="checkbox" name="" value="" id="" @change="addSelectWeeks(week)" disabled>
                    <label for="">第{{week}}周</label>
                </div>
            </div>
        </div>
        <slot></slot>
    `,
    emits: ['addSelectWeeks'],
    methods: {
        addSelectWeeks(selectWeek) {
            this.$emit('addSelectWeeks', selectWeek);
        },
        disableShowWeek(week) {
            if (this.disableWeeks.length == 0) {
                return !this.dontDisplayWeeks.includes(week);
            } else {
                return !this.disableWeeks.includes(week) && !this.dontDisplayWeeks.includes(week);
            }
        },
        calculateTotalWeeks() {
            if (this.weeks === null) {
                this.weeks = [];
                axios
                    .get('{:url("Vue/getCurrentTermStartTimeJson")}')
                    .then(response => {
                        this.termStartTime = response.data;
                        axios
                            .get('{:url("Vue/getCurrentTermEndTimeJson")}')
                            .then(response => {
                                this.termEndTime = response.data;
                                var dateStart = new Date(this.termStartTime);
                                var dateEnd = new Date(this.termEndTime);
                                var difValue = (dateEnd - dateStart) / (1000 * 60 * 60 * 24);
                                // console.log(Math.ceil(difValue / 7));
                                for (var i = 0; i < Math.ceil(difValue / 7); i++) {
                                    this.weeks[i] = i+1;
                                }
                            })
                            .catch(function (error) { // 请求失败处理
                            console.log(error);
                        });
                    })
                    .catch(function (error) { // 请求失败处理
                    console.log(error);
                });
            }
        },
        isChecked(week) {
            var status = this.alreadySelectWeeks.includes(week) || this.defaultCheckedWeeks.includes(week);
            return status;
        }
    },
    mounted () {
        axios
            .get('{:url("Vue/getCurrentTermStartTimeJson")}')
            .then(response => this.termStartTime = response.data)
            .catch(function (error) { // 请求失败处理
            console.log(error);
        });
        axios
            .get('{:url("Vue/getCurrentTermEndTimeJson")}')
            .then(response => this.termEndTime = response.data)
            .catch(function (error) { // 请求失败处理
            console.log(error);
        });
    }
})

//  上课时间选择-教室
app.component('room-select', {
    data() {
        return {
            rooms: [],
        }
    },
    props: {
        disableRoomIds: null,
        alreadySelectRoomIds: null,
        defaultCheckedRooms: null,
        day: null,
        lesson: null,
    },
    template: `
    {{defaultCheckedRooms}}
    <label>选择教室</label>
    <div class="row" v-for="room in rooms">
        <div class="col" v-if="disableRoomId(room.id)">
            <div v-if="isChecked(room.id)">
                    <input checked  type="checkbox" name="" value="" id="" @change="addSelectRoomIds(room.id)">
                    <label for="">{{room.name}}</label>
                </div>
                <div v-if="!isChecked(room.id)">
                    <input type="checkbox" name="" value="" id="" @change="addSelectRoomIds(room.id)">
                    <label for="">{{room.name}}</label>
                </div>
        </div>
        <div class="col" v-if="!disableRoomId(room.id)">
            <div v-if="isChecked(room.id)">
                    <input checked  type="checkbox" name="" value="" id="" @change="addSelectRoomIds(room.id)">
                    <label for="">{{room.name}}</label>
                </div>
                <div v-if="!isChecked(room.id)">
                    <input type="checkbox" name="" value="" id="" @change="addSelectRoomIds(room.id)" disabled>
                    <label for="">{{room.name}}</label>
                </div>
        </div>
    </div>
    `,
    emits: ['addSelectRoomIds'],
    methods: {
        addSelectRoomIds(selectRoomId) {
            this.$emit('addSelectRoomIds', selectRoomId);
        },
        disableRoomId(roomId) {
            if (this.disableRoomIds.length == 0) {
                return true;
            } else {
                return !this.disableRoomIds.includes(roomId);
            }
        },
        isChecked(roomId) {
            var status = this.alreadySelectRoomIds.includes(roomId)  || this.defaultCheckedRooms.includes(roomId);
            return status;
        }
    },
    mounted () {
        axios
            .get('{:url("Vue/getAllRoomsJson")}')
            .then(response => this.rooms = response.data)
            .catch(function (error) { // 请求失败处理
            console.log(error);
        });
    }
})
app.mount('#main');
</script>

{/block}