{extend name="index"/}
{block name="title"}
课程管理
{/block}
{block name="search"}
{/block}
{block name="content"}
<div id="main">
</div>

<script>
// 班级选择
const RootComponent = {
    data() {
        return {
            dispatches: [],

            isSelectCourse: null,
            isSelectKlass: null,
            weekName: ['一', '二', '三', '四', '五', '六', '日'],
        }
    },
    methods: {
        onCourseSelect(course) {
            // console.log(course);
            this.isSelectKlass = null;
            this.isSelectCourse = course;
        },
        onKlassSelect(klass) {
            // console.log(klass);
            this.isSelectKlass = klass;
            if (klass.length === 1 && !klass[0]) {
                this.isSelectKlass = null;
            }
        },
    },

    template: `
    {{dispatches}}

    <form class="" action="{:url('scheduleSave')}" method="post">
        <!--选择课程-->
        <course-select @on-course-select="onCourseSelect"></course-select>

        <!--选择班级-->
        <div class="form-group row" v-if="isSelectCourse">
            <klass-select @on-klass-select="onKlassSelect" :isSelectCourse="isSelectCourse"></klass-select>
        </div>
        <h5>{{isSelectCourse}}</h5>
        <h5>{{isSelectKlass}}</h5>

        <!--选择时间-->
        <div class="row" v-if="isSelectKlass">
            <div class="col-sm-9">
                <table class="table table-hover table-bordered">
                    <tr>
                        <th class="">周几/课序</th>
                        <th class="">1</th>
                        <th class="">2</th>
                        <th class="">3</th>
                        <th class="">4</th>
                        <th class="">5</th>
                    </tr>
                    <tr v-for="row in [0, 1, 2, 3, 4, 5, 6]">
                        <td>周{{weekName[row]}}</td>
                        <td v-for="col in [0, 1, 2, 3, 4]">
                            <ul class="accordion" data-accordion>
                                <li class="accordion-navigation">
                                <!--选择时间-->
                                    <course-time-select :day="row" :lesson="col" :dispatches="dispatches" :weeks="weeks" :isSelectCourse="isSelectCourse" :isSelectKlass="isSelectKlass"></course-time-select>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">确定</button>
                    <a href="{:url('courseSort')}" class="btn btn-primary"><i class="glyphicon"></i>&nbsp;返回</a>
                </div>
            </div>
        </div>
    </form>
    `,
    mounted () {
        axios.
        get(['{:url("Vue/getDispatchesJson")}']).
        then(response => this.dispatches = response.data).
        catch(err => {
            console.log(err) ;
        })
    }

}

const app = Vue.createApp(RootComponent);
// 上课时间选择
app.component('course-time-select',{
    data() {
        return {
            isShow: false,
            filter_room: null,
            filter_week: null
        }
    },
    props: {
        day: 0,
        lesson: 0,
        dispatches: [],
        weeks: [],
        //已选择的课程
        isSelectCourse: null,
        //已选择的班级
        isSelectKlass: null,
    },
    template: `
    {{conflictWeeksAndRooms}}
        <a class="btn btn-primary" @click="onChange">{{day+1}}天{{lesson+1}}节</a>
        <div v-if="isShow">
            <!--选择周数-->
            <week-select @filter-room="filterRoom" :filter_week="filter_week"></week-select>
            <room-select :filter_room="filter_room" @filter-week="filterWeek"></room-select>
        </div>
    `,
    methods: {
        onChange() {
            this.isShow = !this.isShow;
            console.log(this.conflictTime);
        },
        filterRoom(filterRoom) {
            if (this.filter_room == null) {
                this.filter_room = filterRoom;
            } else {
                this.filter_room = null;
            }
        },
        filterWeek(filterWeek) {
            if (this.filter_week == null) {
                this.filter_week = filterWeek;
            } else {
                this.filter_week = null;
            }
        }
    },
    computed: {
        conflictWeeksAndRooms() {
            conflictWeeksAndRooms = [];
            dispatches = this.dispatches;

            console.log(this.dispatches);
            for (var i = this.dispatches.length - 1; i >= 0; i--) {
                //挑选出当前day和lesson的
                if (dispatches[i].day===this.day && dispatches[i].lesson===this.lesson) {
                    console.log('周几和第几节课已验证通过');
                    for (var j = this.isSelectKlass.length - 1; j >= 0; j--) {
                    //如果调度中包括选择的班级就说明当前周不能用,即存入conflictWeeksAndRooms(不包括直接排除)
                        if (dispatches[i].klassIds.includes(this.isSelectKlass[j])) {
                            console.log('当前班级在此时段已有课,周数为:'+dispatches[i].week);
                            console.log(dispatches[i]);
                            conflictWeeksAndRooms.push(dispatches[i]);
                            //有一个班级被包含就足够了
                            break;
                        }
                    }
                }
            }
            weeksAndRooms = [];

            for (var i = conflictWeeksAndRooms.length - 1; i >= 0; i--) {
                weeksAndRooms.push({week:conflictWeeksAndRooms[i].week, roomIds:conflictWeeksAndRooms[i].roomIds});
            }

            return weeksAndRooms;
        }
    },
})

//  上课时间选择-周
app.component('week-select', {
    data() {
        return {
            weeks: [1, 2, 3, 4, 5],
        }
    },
    props: {
        filter_week: null,
    },
    template: `
        <label>上课周</label>
        <div class="row" v-for="week in weeks">
            <div class="col" v-if="week != filter_week">
                    <div v-if="week == 1">
                        <input type="checkbox" name="" value="" id="" @change="filterRoom">
                        <label for="">第{{week}}周</label>
                    </div>
                    <div v-if="week != 1">
                        <input type="checkbox" name="" value="" id="">
                        <label for="">第{{week}}周</label>
                    </div>
            </div>
        </div>
        <slot></slot>
    `,
    emits: ['filterRoom'],
    methods: {
        filterRoom() {
            this.$emit('filterRoom', 1);
        }
    }
})

//  上课时间选择-教室
app.component('room-select', {
    data() {
        return {
            rooms: [],
        }
    },
    props: {
        filter_room: null,
    },
    template: `
    <label>选择教室</label>
    <div class="row" v-for="room in rooms">
        <div class="col" v-if="room.id != filter_room">
            <div v-if="room.id == 2">
                <input type="checkbox" name="" value="" id="" @change="filterWeek">
                <label for="">{{room.name}}</label>
            </div>
            <div v-if="room.id != 2">
                <input type="checkbox" name="" value="" id="">
                <label for="">{{room.name}}</label>
            </div>
        </div>
    </div>
    `,
    emits: ['filterWeek'],
    methods: {
        filterWeek() {
            this.$emit('filterWeek', 5);
        }
    },
    mounted () {
        axios
            .get('{:url("Vue/getAllRoomsJson")}')
            .then(response => this.rooms = response.data)
            .catch(function (error) { // 请求失败处理
            console.log(error);
        });

    }
})


// 班级选择
app.component('klass-select', {
    data() {
        return {
            schedules: [],
            scheduleKlasses: [],
            klasses: [],
            selectKlass: null,
        }
    },
    props : ['isSelectCourse'],
    template: `
    <label for="klass_id" class="col-sm-2 col-form-label" style="width: 162px">上课班级<br>(可多选)</label>
    <div class="col-sm-4">
        <select  @change="onChange" v-model="selectKlass" class="selectpicker form-control col-sm-12" multiple name="klass_id[]" id="klass_id" required>
            <option value=''>请选择班级</option>
            <option v-for="klass in getKlassesAfterFilter(isSelectCourse)" :value="klass.id" >{{klass.name}}</option>
        </select>
    </div>
    `,

    emits: ['onKlassSelect'],
    
    methods: {
        onChange() {
            // console.log(this.selectKlass);
            this.$emit('onKlassSelect', this.selectKlass)
            // console.log('11111111111111111111111111111');
            // console.log(this.schedules);
            // console.log(this.scheduleKlasses);
            // console.log(this.klasses);
            // console.log('11111111111111111111111111111');
        },
            //去除掉已经有上该门课的班级
        getKlassesAfterFilter(courseId) {
            //course->schedule->scheduleklass->klass
            //通过courseId求出已经有该门课的班级，并过滤掉，找到其他班级
            var scheduleIds = [];
            //获取排课id
            for (var i = this.schedules.length - 1; i >= 0; i--) {
                if(this.schedules[i].course_id == courseId) {
                    scheduleIds.push(this.schedules[i].id);
                }
            }
            //获取班级id
            var klassIds = [];
            for (var i = scheduleIds.length - 1; i >= 0; i--) {
                for (var j = this.scheduleKlasses.length - 1; j >= 0; j--) {
                    if (scheduleIds[i] == this.scheduleKlasses[j].schedule_id) {
                        klassIds.push(this.scheduleKlasses[j].klass_id);
                    }
                }
            }
            //求 klassIds在klass中的补集
            var klassesAfterFilter = [];
            for (var i = this.klasses.length - 1; i >= 0; i--) {
                if (klassIds.indexOf(this.klasses[i].id) == -1) {
                    klassesAfterFilter.push(this.klasses[i]);
                }
            }
            // console.log('处理后的班级：'+ klassesAfterFilter);
            return klassesAfterFilter;
        }
    },
    mounted () {
        axios.all([
            axios
                .get('{:url("Vue/getAllSchedulesJson")}')
                .then(res => res.data),
            axios
                .get('{:url("Vue/getAllKlassesJson")}')
                .then(res => res.data),
            axios
                .get('{:url("Vue/getAllScheduleKlassesJson")}')
                .then(res => res.data)
        ]).then(
            axios.spread((val1, val2, val3) => {
                this.schedules = val1;
                this.klasses = val2;
                this.scheduleKlasses = val3;
                // val 是数组中每个接口返回的值 res.data
                // console.log('三个接口全部加载完成',val1, val2, val3) ;  // 1,2
            })
        ).catch(err => {
            console.log(err) ;
        })
    }
})


// 课程选择
app.component('course-select', {
    data() {
        return {
            courses: [],
            selectCourse: null
        }
    },

    template: `
    <div class="form-group row">
        <label for="course_id" class="col-sm-2 col-form-label" style="width: 162px">课程</label>
        <div class="col-sm-4">
            <select @change="onChange" v-model="selectCourse" class="selectpicker form-control col-sm-12" name="course_id" id="course_id" required>
                <option value="">请选择课程</option>
                <option v-for="course in courses" :value="course.id">{{course.name}}</option>
            </select>
        </div>
    </div>
    `,
    emits: ['onCourseSelect'],
    methods: {
        onChange() {
            // console.log(this.selectCourse);
            this.$emit('onCourseSelect', this.selectCourse)
        },
    },

    mounted () {
        axios
            .get('{:url("Course/getAllCoursesJson")}')
            .then(response => this.courses = response.data)
            .catch(function (error) { // 请求失败处理
            console.log(error);
        });

    }

})
app.mount('#main');
</script>

{/block}