{extend name="index"/}
{block name="title"}
课程管理
{/block}
{block name="search"}
{/block}
{block name="content"}
<div id="main">
</div>
<script>
// 班级选择
const RootComponent = {
    data() {
        return {
            dispatches: [],
            isSelectCourse: null,
            isSelectKlass: null,
            allowedKlasses: [],
            weekName: ['一', '二', '三', '四', '五', '六', '日'],
        }
    },
    methods: {
        onCourseSelect(course, allowedKlasses) {
            // console.log(course);
            this.isSelectKlass = null;
            this.isSelectCourse = course;
            this.allowedKlasses = allowedKlasses;
        },
        onKlassSelect(klass) {
            // console.log(klass);
            this.isSelectKlass = klass;
            if (klass.length === 1 && !klass[0]) {
                this.isSelectKlass = null;
            }
        },
        submit() {
            console.log('数据已提交');
        }
    },

    template: `
    {{dispatches}}

    <form>
        <!--选择课程-->
        <course-select @on-course-select="onCourseSelect"></course-select>

        <!--选择班级-->
        <div class="form-group row" v-if="isSelectCourse">
            <klass-select @on-klass-select="onKlassSelect" :allowedKlasses="allowedKlasses"></klass-select>
        </div>
        <h5>{{isSelectCourse}}</h5>
        <h5>{{isSelectKlass}}</h5>

        <!--选择时间-->
        <div class="row" v-if="isSelectKlass">
            <div class="col-sm-9">
                <table class="table table-hover table-bordered">
                    <tr>
                        <th class="">周几/课序</th>
                        <th class="">1</th>
                        <th class="">2</th>
                        <th class="">3</th>
                        <th class="">4</th>
                        <th class="">5</th>
                    </tr>
                    <tr v-for="row in [0, 1, 2, 3, 4, 5, 6]">
                        <td>周{{weekName[row]}}</td>
                        <td v-for="col in [0, 1, 2, 3, 4]">
                            <ul class="accordion" data-accordion>
                                <li class="accordion-navigation">
                                <!--选择时间-->
                                    <course-time-select :day="row" :lesson="col" :dispatches="dispatches" :selectKlass="isSelectKlass"></course-time-select>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <a type="submit" href="" @click="submit" class="btn btn-primary">确定</a>
                    <a href="{:url('courseSort')}" class="btn btn-primary"><i class="glyphicon"></i>&nbsp;返回</a>
                </div>
            </div>
        </div>
    </form>
    `,
    mounted () {
        axios.
        get(['{:url("Vue/getDispatchesJson")}']).
        then(response => this.dispatches = response.data).
        catch(err => {
            console.log(err) ;
        })
    }

}

const app = Vue.createApp(RootComponent);
// 上课时间选择
app.component('course-time-select',{
    data() {
        return {
            isShow: false,
            dispatchWeeks: null,
            dispatchRooms: null,
            dispatchs: null,
            dispatchRos: null,
            conflictData: [],
            selectWeeks: [],
            selectRoomIds: [],
            disableWeeks: [],
            disableRoomIds: [],
            disableWeeks: [],
        }
    },
    props: {
        day: 0,
        lesson: 0,
        dispatches: null,
        //已选择的班级
        selectKlass: null,
    },
    template: `
        {{selectWeeks}}
        {{selectRoomIds}}
        <a class="btn btn-primary" @click="onChange">{{day+1}}天{{lesson+1}}节</a>
        <div v-if="isShow">
            <!--选择周数-->
            <week-select @add-select-weeks="addSelectWeeks" :disableWeeks="disableWeeks"></week-select>
            <!--选择教室-->
            <room-select @add-select-room-ids="addSelectRoomIds" :disableRoomIds="disableRoomIds"></room-select>
        </div>
        {{conflictData}}
        <!-- 调用数据对接 -->
        {{conflictWeeksAndRooms}}
    `,
    methods: {
        onChange() {
            this.isShow = !this.isShow;
        },
        addSelectWeeks(selectWeek) {
            // 添加selectWeek
            // 对某个周勾选或取消的判断
            var status = true;
            for (var i = 0; i < this.selectWeeks.length; i++) {
                if (selectWeek == this.selectWeeks[i]) {
                    status = !status;
                    break;
                }
            }
            if (status) {
                // 若勾选，则加入到selectWeeks数组中
                this.selectWeeks.push(selectWeek);
            } else {
                // 若取消，则从selectWeeks数组中删去
                // 变量d，记录当前取消勾选的周数
                var d = this.selectWeeks[i];
                this.selectWeeks.splice(i, 1);
            }

            // 添加disableRoomIds
            // 对某个周勾选或取消的判断
            var sta = false;
            for (var n = 0; n < this.selectWeeks.length; n++) {
                if (selectWeek == this.selectWeeks[n]) {
                    sta = !sta;
                    break;
                }
            }
            // 如果selectWeeks的长度大于0，即有勾选周数，且当前勾选的周数能在conflictData中找到，则添加disableRoomIds
            if (this.selectWeeks.length > 0 && sta) {
                // 遍历conflictData数组
                for (var i = 0; i < this.conflictData.length; i++) {
                    // 如果当前勾选的周数能在conflictData中找到
                    if (this.selectWeeks[this.selectWeeks.length-1] == this.conflictData[i].week) {
                        for (var j = 0; j < this.conflictData[i].roomIds.length; j++) {
                            // 求并集
                            // 则添加对应的disableRoomId进入disableRoomIds中
                            this.disableRoomIds.push(this.conflictData[i].roomIds[j]);
                        }
                    }
                }
            } else {
                // 当某个周数取消勾选后，从disableRoomIds中删除对应的roomIds
                // 遍历conflictData数组
                for (var a = 0; a < this.conflictData.length; a++) {
                    // 如果当前取消勾选的周数能在conflictData中找到
                    if (d == this.conflictData[a].week) {
                        // 从disableRoomIds中删除对应的roomIds
                        for (var c = 0; c < this.conflictData[a].roomIds.length; c++) {
                            for (var b = 0; b < this.disableRoomIds.length; b++) {
                                if (this.conflictData[a].roomIds[c] == this.disableRoomIds[b]) {
                                    this.disableRoomIds.splice(b, 1);
                                    break;
                                }
                            }
                        }
                    }
                }
            }
        },
        addSelectRoomIds(selectRoomId) {
            // 添加selectRoomIds
            // 对某个教室勾选或取消的判断
            var status = true;
            for (var i = 0; i < this.selectRoomIds.length; i++) {
                if (selectRoomId == this.selectRoomIds[i]) {
                    status = !status;
                    break;
                }
            }
            if (status) {
                // 若勾选，则加入到selectRoomIds数组中
                this.selectRoomIds.push(selectRoomId);
            } else {
                // 若取消，则从selectRoomIds数组中删去
                // 变量d，记录当前取消勾选的教室
                var d = this.selectRoomIds[i];
                this.selectRoomIds.splice(i, 1);
            }

            // 添加disableWeeks
            // 对某个教室勾选或取消的判断
            var sta = false;
            for (var n = 0; n < this.selectRoomIds.length; n++) {
                if (selectRoomId == this.selectRoomIds[n]) {
                    sta = !sta;
                    break;
                }
            }
            // 如果selectRoomIds的长度大于0，即有勾选教室，且当前勾选的教室id能在conflictData中找到，则添加disableWeeks
            if (this.selectRoomIds.length > 0 && sta) {
                // 遍历conflictData数组
                for (var b = 0; b < this.conflictData.length; b++) {
                    // 遍历conflictData[b].roomIds数组
                    for (var c = 0; c < this.conflictData[b].roomIds.length; c++) {
                        // 如果当前勾选的教室能在conflictData中找到
                        if (this.selectRoomIds[this.selectRoomIds.length-1] == this.conflictData[b].roomIds[c]) {
                            // 求并集
                            // 添加对应的disableWeek进入disableWeeks中
                            this.disableWeeks.push(this.conflictData[b].week);
                        }
                    }
                }
            } else {
                //  当某个教室取消勾选之后，从disableWeeks中删去对应的week
                // 遍历conflictData数组
                for (var j = 0; j < this.conflictData.length; j++) {
                    // 遍历conflictData[j].roomIds数组
                    for (var m = 0; m < this.conflictData[j].roomIds.length; m++) {
                        // 如果当前取消勾选的教室能在conflictData中找到
                        if (d == this.conflictData[j].roomIds[m]) {
                            // 遍历disableWeeks数组
                            for (var x = 0; x < this.disableWeeks.length; x++) {
                                // 如果conflictData[j]中的week能够在disableWeeks[x]中找到
                                if (this.conflictData[j].week == this.disableWeeks[x]) {
                                    // 删去找到的week
                                    this.disableWeeks.splice(x, 1);
                                    break;
                                }
                            }
                        }
                    }
                }
            }
        },
    },
    computed: {
        conflictWeeksAndRooms() {
            conflictWeeksAndRooms = [];
            dispatches = this.dispatches;
            for (var i = this.dispatches.length - 1; i >= 0; i--) {
                //挑选出当前day和lesson的
                if (dispatches[i].day===this.day && dispatches[i].lesson===this.lesson) {
                    // console.log('周几和第几节课已验证通过');
                    for (var j = this.selectKlass.length - 1; j >= 0; j--) {
                    //如果调度中包括选择的班级就说明当前周不能用,即存入conflictWeeksAndRooms(不包括直接排除)
                        if (dispatches[i].klassIds.includes(this.selectKlass[j])) {
                            // console.log('当前班级在此时段已有课,周数为:'+dispatches[i].week);
                            // console.log(dispatches[i]);
                            conflictWeeksAndRooms.push(dispatches[i]);
                            //有一个班级被包含就足够了
                            break;
                        }
                    }
                }
            }
            weeksAndRooms = [];

            for (var i = conflictWeeksAndRooms.length - 1; i >= 0; i--) {
                weeksAndRooms.push({week:conflictWeeksAndRooms[i].week, roomIds:conflictWeeksAndRooms[i].roomIds});
            }
            // 数据对接
            this.conflictData = weeksAndRooms;
            return weeksAndRooms;
        },
    },
        mounted () {
        axios
            .get('{:url("Vue/getAllDispatchsWeekJson")}')
            .then(response => this.dispatchWeeks = response.data)
            .catch(function (error) { // 请求失败处理
            console.log(error);
        });
    }
})

//  上课时间选择-周
app.component('week-select', {
    data() {
        return {
            weeks: [1, 2, 3, 4, 5],
            a: null,
        }
    },
    props: {
        disableWeeks: null,
    },
    template: `
        {{disableWeeks}}
        <label>上课周</label>
        <div class="row" v-for="week in weeks">
            <div class="col" v-if="disableWeek(week)">
                <input type="checkbox" name="" value="" id="" @change="addSelectWeeks(week)">
                <label for="">第{{week}}周</label>
            </div>
        </div>
        <slot></slot>
    `,
    emits: ['addSelectWeeks'],
    methods: {
        addSelectWeeks(selectWeek) {
            this.$emit('addSelectWeeks', selectWeek);
        },
        disableWeek(week) {
            if (this.disableWeeks.length == 0) {
                return true;
            } else {
                return !this.disableWeeks.includes(week);
            }
        }
    },
})

//  上课时间选择-教室
app.component('room-select', {
    data() {
        return {
            rooms: [],
        }
    },
    props: {
        disableRoomIds: null,
    },
    template: `
    {{disableRoomIds}}
    <label>选择教室</label>
    <div class="row" v-for="room in rooms">
        <div class="col" v-if="disableRoomId(room.id)">
            <input type="checkbox" name="" value="" id="" @change="addSelectRoomIds(room.id)">
            <label for="">{{room.name}}</label>
        </div>
    </div>
    `,
    emits: ['addSelectRoomIds'],
    methods: {
        addSelectRoomIds(selectRoomId) {
            this.$emit('addSelectRoomIds', selectRoomId);
        },
        disableRoomId(roomId) {
            if (this.disableRoomIds.length == 0) {
                return true;
            } else {
                return !this.disableRoomIds.includes(roomId);
            }
        },
    },
    mounted () {
        axios
            .get('{:url("Vue/getAllRoomsJson")}')
            .then(response => this.rooms = response.data)
            .catch(function (error) { // 请求失败处理
            console.log(error);
        });

    }
})


// 班级选择
app.component('klass-select', {
    data() {
        return {
            selectKlass: [],
        }
    },
    props : ['allowedKlasses'],
    template: `
    <label for="klass_id" class="col-sm-2 col-form-label" style="width: 162px">上课班级<br>(可多选)</label>
    <div class="col-sm-4">
        <select  @change="onChange" v-model="selectKlass" class="selectpicker form-control col-sm-12" multiple name="klass_id[]" id="klass_id" required>
            <option value=''>请选择班级</option>
            <option v-for="klass in allowedKlasses" :value="klass.id" >{{klass.name}}</option>
        </select>
    </div>
    `,

    emits: ['onKlassSelect'],
    
    methods: {
        onChange() {
            this.$emit('onKlassSelect', this.selectKlass)
        },
    },
})


// 课程选择
app.component('course-select', {
    data() {
        return {
            courses: [],
            selectCourse: [],
            klasses: []
        }
    },

    template: `
    <div class="form-group row">
        <label for="course_id" class="col-sm-2 col-form-label" style="width: 162px">课程</label>
        <div class="col-sm-4">
            <select @change="onChange" v-model="selectCourse" class="selectpicker form-control col-sm-12" name="course_id" id="course_id" required>
                <option value="">请选择课程</option>
                <option v-for="course in courses" :value="course.id">{{course.name}}</option>
            </select>
        </div>
    </div>
    `,
    emits: ['onCourseSelect'],
    methods: {
        onChange() {
            // console.log(this.selectCourse);
            this.$emit('onCourseSelect', this.selectCourse, this.getAllowedKlasses)
        },
    },
    computed: {
        getAllowedKlasses() {
            //获取不符合条件的班级(不应该显示的班级)
            forbiddenKlasses = [];
            for (var i = this.courses.length - 1; i >= 0; i--) {
                if(this.selectCourse === this.courses[i].id) {
                    for (var j = this.courses[i].klassIds.length - 1; j >= 0; j--) {
                        forbiddenKlasses.push(this.courses[i].klassIds[j]);
                    }
                }
            }
            //通过不符合条件的班级过滤出符合条件的班级
            allowedKlasses = this.klasses.filter(klass => !forbiddenKlasses.includes(klass.id));
            return allowedKlasses;
        }
    },

    mounted () {
        axios.all([
            axios
                .get('{:url("Vue/getAllCoursesJson")}')
                .then(res => res.data),
            axios
                .get('{:url("Vue/getAllKlassesJson")}')
                .then(res => res.data)
        ]).then(
            axios.spread((val1, val2) => {
                this.courses = val1;
                this.klasses = val2;
            })
        ).catch(err => {
            console.log(err) ;
        })
        // axios
        //     .get('{:url("Vue/getAllCoursesJson")}')
        //     .then(response => this.courses = response.data)
        //     .catch(function (error) { // 请求失败处理
        //     console.log(error);
        // });
    }
})
        // methods: {
        //     axios_post:()=> {
        //         var params = new FormData();
        //         params.append('UserName', 'xipengheng');
        //         params.append('msg', '我是一头长颈鹿，我爱上树');
        //         params.append('msgTime', '2009.09.09');
        //         axios
        //             .post('https://www.xipengheng.cn/AAA/liuyan.php',params)
        //             .then(res => {
        //                 console.log(res);
        //             })
        //     }
        // },
app.mount('#main');
</script>

{/block}