<body class="container">
<!--查询和添加-->
<div class="row">
  <div class="col-md-10">
    <form class="form-inline">
      <input type="text" class="form-control" style="margin-right: 10px" placeholder="课程">
      <input type="text" class="form-control" style="margin-right: 10px" placeholder="学期">
      <button type="submit" class="btn btn-info"><i class="fas fa-search"></i>查询</button>
    </form>
  </div>
  <div class="col-md-2">
    <a class="btn btn-primary" style="float: right" routerLink="add"><i class="fas fa-plus"></i>添加排课</a>
  </div>
</div>

<!--表格-->
<table class="table table-striped" style="margin-top: 20px">
  <thead>
  <tr  class="table-primary">
    <th>序号</th>
    <th>课程名称</th>
    <th>学期名称</th>
    <th>班级</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let schedule of pageData.content index as i">
    <td>{{i + 1}}</td>
    <td>{{'测试课程' + schedule.course_id}}</td>
    <td>{{'测试学期' + schedule.term_id}}</td>
    <td>{{schedule.test_clazz_name}}</td>
    <td>
      <a class="btn btn-sm btn-primary" routerLink="edit"><i class="fas fa-pen"></i>编辑</a>&nbsp;&nbsp;
      <a class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i>删除</a>
    </td>
  </tr>
  </tbody>
</table>

<app-page [page]="pageData" (bePageChange)="onPage($event)"></app-page>
</body>
