{extend name="index"/}
{block name="title"}
添加上课时间
{/block}
{block name="search"}
{/block}
{block name="content"}
<div id="app">
    <Root></Root>
</div>
 
<script>
// 创建一个Vue 应用
const app = Vue.createApp({})
 
// 定义一个名为 Root的新全局组件
app.component('Root', {
    data() {

    },
    template: `
    <form>
        <input type="hidden" name="schedule_id" value="{:$Schedule->id}">
        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">课程名称</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="" value="{:$Schedule->getCourse()->name}" disabled>
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">上课时间：</label>
        </div>

        <!--选择时间-->
        <div class="row" v-if="isSelectKlass">
            <div class="col-sm-12">
                <table class="table table-hover table-bordered">
                    <tr>
                        <th class="">周几/课序</th>
                        <th class="">1</th>
                        <th class="">2</th>
                        <th class="">3</th>
                        <th class="">4</th>
                        <th class="">5</th>
                    </tr>
                    <tr v-for="row in [0, 1, 2, 3, 4, 5, 6]">
                        <td>周{{weekName[row]}}</td>
                        <td v-for="col in [0, 1, 2, 3, 4]">
                            <ul class="accordion" data-accordion>
                                <li class="accordion-navigation">
                                <!--选择时间-->
                                    <course-time-select  @change-active="changeActive" @course-time="courseTime"  :day="row" :lesson="col" :dispatches="dispatches" :selectKlass="isSelectKlass" :teacher="teacher" :active="active"></course-time-select>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <a type="submit" @click="submit" href="{:url('schedulesave')}" value="123" class="btn btn-primary">确定</a>
                </div>
            </div>
        </div>
    </form>
    `,
})

app.mount('#app')
</script>



















{/block}
{block name="page"}
{/block}