{extend name="./../../index/view/index"/}
{block name="title"}
管理端
{/block}
{block name="search"}
{/block}
{block name="content"}
<div class="row">
    <div class="col-sm-5">
        <a href="{:url('edit')}" class="btn btn-primary">修改信息</a>
    </div>
</div>
<br>
<table border="table" class="col-sm-5">
    <tr>
        <td colspan="2">我的信息</td>
    </tr>
    <tr>
        <td class="col-sm-5">姓名</td>
        <td>{:$currentUser->name}</td>
    </tr>
    <tr>
        <td class="col-sm-5">性别</td>
        <td>{:$currentUser->sex}</td>
    </tr>
    <tr>
        <td class="col-sm-5">手机号</td>
        <td>{:$currentUser->number}</td>
    </tr>
    <tr>
        <td class="col-sm-5">身份</td>
        <td>教师</td>
    </tr>
</table>
{/block}
{block name="page"}
{/block}