<!-- 模态框 -->
<!-- Button trigger modal -->
<button *ngIf="status === 1" type="button" class="btn btn-info" data-toggle="modal" style="margin-left: 50px" [attr.data-target]="'#exampleModalCenter' + day.toString() + lesson.toString()"> <!-- (click)="isShow(day, lesson)"-->
  {{getContent()}}
</button>
<button *ngIf="status === 0" type="button" class="btn btn-success" data-toggle="modal" style="margin-left: 50px" [attr.data-target]="'#exampleModalCenter' + day.toString() + lesson.toString()"> <!-- (click)="isShow(day, lesson)"-->
  {{getContent()}}
</button>
<button *ngIf="status === -1" type="button" class="btn btn-danger" data-toggle="modal" style="margin-left: 50px" [attr.data-target]="'#exampleModalCenter' + day.toString() + lesson.toString()"> <!-- (click)="isShow(day, lesson)"-->
  {{getContent()}}
</button>
<div [id]="'exampleModalCenter' + day.toString() + lesson.toString()" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="exampleModalCenterTitle">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" [id]="'exampleModalCenterTitle' + day.toString() + lesson.toString()">
          周{{days[day]}}第{{lesson + 1}}节
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="row" *ngFor="let week of weeks; index as index">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="checkBox" [checked]="isWeekChecked(week)" (click)="onWeekChange(week)"  [disabled]="isWeekDisabled(index)" [id]="day.toString() + lesson.toString() + week.toString()">&nbsp;<label [for]="day.toString() + lesson.toString() + week.toString()">第{{ week + 1 }}周</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row" *ngFor="let room of rooms; index as index">
              <input type="checkBox" [checked]="isRoomChecked(room.id)" (click)="onRoomChange(room.id)"  [disabled]="isRoomDisabled(room.id)" [id]="day.toString() + lesson.toString() + room.id.toString()">&nbsp;<label [for]="day.toString() + lesson.toString() + room.id.toString()">{{room.name}}</label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="sendParent()">保存数据</button>
      </div>
    </div>
  </div>
</div>
