<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <title>学生端(mobile)</title>
    <meta charset="utf-8">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body class="container">
    <form action="{:url('RegisterSuccess')}" method="post">
        <div>
            &nbsp
            <div class="row">
                <div class="col-12 p-2">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">确认注册</button>
                </div>
            </div>
        </div>
    </form>
</body>

</html>