<div class="row">
  <div class="col-md-10">
    <form class="form-inline">
      <input type="text" class="form-control" placeholder="班级名称">
      <button type="submit" class="btn btn-info ml-2">
        <i class="fas fa-search"></i> 查询
      </button>
    </form>
  </div>
  <div class="col-2 text-right">
    <a class="btn btn-primary" routerLink="./add"><i class="fas fa-plus"></i>新增</a>
  </div>
</div>

<table class="table table-striped mt-2">
  <thead>
    <tr class="table-primary">
      <th>序号</th>
      <th>班级名称</th>
      <th>人数</th>
      <th>入学日期</th>
      <th>学制</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let clazz of pageData.content; index as index">
      <td>{{ index + 1 }}</td>
      <td>{{ clazz.name }}</td>
      <td>{{ clazz.number_of_students }}</td>
      <td>{{ (+clazz.entrance_date) * 1000 | date: 'yyyy-MM-dd' }}</td>
      <td>{{ clazz.length }}</td>
      <td>
        <a class="btn btn-sm btn-primary col-md-2" [routerLink]="'./edit/' + clazz.id.toString()"><i class="fas fa-pen"></i>编辑</a>
        <a class="btn btn-sm btn-danger" (click)="onDelete(clazz.id)"><i class="far fa-trash-alt"></i>删除</a>
        <a class="btn btn-sm btn-success" [routerLink]="'clazzMembers/' + clazz.id.toString()">查看班级成员</a>
      </td>
    </tr>
  </tbody>
</table>
<app-page [page]="pageData" (bePageChange)="onPage($event)"></app-page>
