{extend name="index"/}
{block name="title"}
开始上课
{/block}

{block name="nav"}
<!-- 菜单导航 -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://www.mengyunzhi.com">梦云智</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li  class=""><a href="index">课程管理</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li  class=""><a href="courseSort">排课管理</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{:url('Login/index')}">注销</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<!-- /菜单导航 -->
{/block}
{block name="search"}
{/block}
{block name="content"}

<div class="row">
    <div class="col col-md-6">
        <div class="col-sm-12">
          <a href="{:url('index')}" class="btn btn-primary"><i class="glyphicon"></i>&nbsp;返回</a>&nbsp&nbsp
        </div>
        <hr>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col-md-3">项</th>
              <th scope="col-md-3">内容</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>课程名称</td>
              <td>程序设计</td>
            </tr>
            <tr>
              <td>当前周次</td>
              <td>第七周</td>
            </tr>
            <tr>
              <td>课次</td>
              <td>周三5-6节</td>
            </tr>
            <tr>
              <td rowspan="2">上课的班级</td>
              <td>计2021(30人)</td>
            </tr>
            <tr>
              <td>计2022(29人)</td>
            </tr>
            <tr>
              <td>总人数</td>
              <td>59</td>
            </tr>
            <tr>
              <td class="navbar-brand col-md-3 info">当前项目</td>
              <td class="navbar-brand col-md-5 info">链表的使用</td>
            </tr>
          </tbody>
        </table>
    </div>
</div>

<div class="form-group row">
  <div class="col-md-12">
    <a href="{:url('randomCode')}" name="" type="submit" class="btn btn-primary">点击生成随机码(可选)</a>
  </div>
</div>
<div class="form-group row">
  <div class="col-md-12">
    <a href="{:url('coursing')}" class="btn btn-warning">开始上课</a>
  </div>
</div>
  
{/block}
{block name="page"}
{/block}