{extend name="index"/}
{block name="title"}
课程管理
{/block}
{block name="search"}
        
{/block}
{block name="nav"}
<!-- 菜单导航 -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://www.mengyunzhi.com">梦云智</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{:url('Login/index')}">注销</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<!-- /菜单导航 -->
{/block}
{block name="content"}
<form class="" action="{:url('update')}" method="post">
  <div class="form-group row">
    <label for="name" class="col-sm-1 col-form-label" style="width: 162px">课程名称</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="name" name="name" value="">
    </div>
  </div>
  <div class="form-group row">
    <label for="hour" class="col-sm-1 col-form-label" style="width: 162px">学时</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="hour" name="hour" value="">
    </div>
  </div>
  <div class="form-group row">
    <label for="klass" class="col-sm-1 col-form-label" style="width: 162px">上课班级<br>(可多选)</label>
    <div class="col-sm-4">
      <select class="selectpicker form-control col-sm-12" multiple name="klass[]" id="klass">
        <option>1班</option>
        <option>2班</option>
        <option>3班</option>
        <option>4班</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="room_id" class="col-sm-1 col-form-label" style="width: 162px">教室</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="room_id" name="room_id" value="">
    </div>
  </div>

  
<div class="row">
    <div class="col-sm-12">
        <table class="table table-hover table-bordered">
            <tr>
                <th class="">课序\周几</th>
                <th class="">周一</th>
                <th class="">周二</th>
                <th class="">周三</th>
                <th class="">周四</th>
                <th class="">周五</th>
                <th class="">周六</th>
                <th class="">周日</th>
            </tr>
            <tr>
                <td>1-2</td>
                <td>
                    <ul class="accordion" data-accordion>
                      <li class="accordion-navigation">
                        <a href="#klass_1">1.1</a>
                        <div id="klass_1" class="content">
                            <input type="checkbox" name="">
                            <label>第一周</label>
                            <input type="checkbox" name="">
                            <label>第二周</label>
                            <input type="checkbox" name="">
                            <label>第三周</label>
                            <input type="checkbox" name="">
                            <label>第四周</label>
                            <input type="checkbox" name="">
                            <label>第五周</label>
                        </div>
                      </li>
                    </ul>
                </td>
                <td>
                    <ul class="accordion" data-accordion>
                      <li class="accordion-navigation">
                        <a href="#klass_6">2.1</a>
                        <div id="klass_6" class="content">
                            <input type="checkbox" name="">
                            <label>第一周</label>
                            <input type="checkbox" name="">
                            <label>第二周</label>
                            <input type="checkbox" name="">
                            <label>第三周</label>
                            <input type="checkbox" name="">
                            <label>第四周</label>
                            <input type="checkbox" name="">
                            <label>第五周</label>
                        </div>
                      </li>
                    </ul>
                </td>


                <td>
                    <ul class="accordion" data-accordion>
                      <li class="accordion-navigation">
                        <a href="#klass_11">3.1</a>
                        <div id="klass_11" class="content">
                            <input type="checkbox" name="">
                            <label>第一周</label>
                            <input type="checkbox" name="">
                            <label>第二周</label>
                            <input type="checkbox" name="">
                            <label>第三周</label>
                            <input type="checkbox" name="">
                            <label>第四周</label>
                            <input type="checkbox" name="">
                            <label>第五周</label>
                        </div>
                      </li>
                    </ul>
                </td>
                <td>
                    <ul class="accordion" data-accordion>
                      <li class="accordion-navigation">
                        <a href="#klass_16">4.1</a>
                        <div id="klass_16" class="content">
                            <input type="checkbox" name="">
                            <label>第一周</label>
                            <input type="checkbox" name="">
                            <label>第二周</label>
                            <input type="checkbox" name="">
                            <label>第三周</label>
                            <input type="checkbox" name="">
                            <label>第四周</label>
                            <input type="checkbox" name="">
                            <label>第五周</label>
                        </div>
                      </li>
                    </ul>
                </td>
                <td>
                    <ul class="accordion" data-accordion>
                      <li class="accordion-navigation">
                        <a href="#klass_21">5.1</a>
                        <div id="klass_21" class="content">
                            <input type="checkbox" name="">
                            <label>第一周</label>
                            <input type="checkbox" name="">
                            <label>第二周</label>
                            <input type="checkbox" name="">
                            <label>第三周</label>
                            <input type="checkbox" name="">
                            <label>第四周</label>
                            <input type="checkbox" name="">
                            <label>第五周</label>
                        </div>
                      </li>
                    </ul>
                </td>
                <td>
                    <ul class="accordion" data-accordion>
                      <li class="accordion-navigation">
                        <a href="#klass_26">6.1</a>
                        <div id="klass_26" class="content">
                            <input type="checkbox" name="">
                            <label>第一周</label>
                            <input type="checkbox" name="">
                            <label>第二周</label>
                            <input type="checkbox" name="">
                            <label>第三周</label>
                            <input type="checkbox" name="">
                            <label>第四周</label>
                            <input type="checkbox" name="">
                            <label>第五周</label>
                        </div>
                      </li>
                    </ul>
                </td>
                <td>
                    <ul class="accordion" data-accordion>
                      <li class="accordion-navigation">
                        <a href="#klass_31">7.1</a>
                        <div id="klass_31" class="content">
                            <input type="checkbox" name="">
                            <label>第一周</label>
                            <input type="checkbox" name="">
                            <label>第二周</label>
                            <input type="checkbox" name="">
                            <label>第三周</label>
                            <input type="checkbox" name="">
                            <label>第四周</label>
                            <input type="checkbox" name="">
                            <label>第五周</label>
                        </div>
                      </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>3-4</td>
                <td><input type="checkbox" name="">1.2</td>
                <td><input type="checkbox" name="">2.2</td>
                <td><input type="checkbox" name="">3.2</td>
                <td><input type="checkbox" name="">4.2</td>
                <td><input type="checkbox" name="">5.2</td>
                <td><input type="checkbox" name="">6.2</td>
                <td><input type="checkbox" name="">7.2</td>
            </tr>
            <tr>
                <td>5-6</td>
                <td><input type="checkbox" name="">1.3</td>
                <td><input type="checkbox" name="">2.3</td>
                <td><input type="checkbox" name="">3.3</td>
                <td><input type="checkbox" name="">4.3</td>
                <td><input type="checkbox" name="">5.3</td>
                <td><input type="checkbox" name="">6.3</td>
                <td><input type="checkbox" name="">7.3</td>
            </tr>
            <tr>
                <td>7-8</td>
                <td><input type="checkbox" name="">1.4</td>
                <td><input type="checkbox" name="">2.4</td>
                <td><input type="checkbox" name="">3.4</td>
                <td><input type="checkbox" name="">4.4</td>
                <td><input type="checkbox" name="">5.4</td>
                <td><input type="checkbox" name="">6.4</td>
                <td><input type="checkbox" name="">7.4</td>
            </tr>
            <tr>
                <td>9-11</td>
                <td><input type="checkbox" name="">1.5</td>
                <td><input type="checkbox" name="">2.5</td>
                <td><input type="checkbox" name="">3.5</td>
                <td><input type="checkbox" name="">4.5</td>
                <td><input type="checkbox" name="">5.5</td>
                <td><input type="checkbox" name="">6.5</td>
                <td><input type="checkbox" name="">7.5</td>
            </tr>
        </table>
    </div>
</div>



<!-- 初始化 Foundation JS -->
<script>
$(document).ready(function() {
    $(document).foundation();
})
</script>

  
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">确定</button>
      <a href="{:url('index')}" class="btn btn-primary"><i class="glyphicon"></i>&nbsp;返回</a>
    </div>
  </div>
</form>
<div>*添加上课时间请点击主界面查看详情</div>
{/block}
{block name="page"}
{/block}