<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>教师端</title>
    <link rel="stylesheet" type="text/css" href="/thinkphp5/public/static/bootstrap-3.3.5-dist/css/bootstrap.min.css">
</head>

<body class="container">

    <!-- 菜单导航 -->
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="http://www.mengyunzhi.com">梦云智</a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li  class="active"><a href="">我教的课</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="">添加课程</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="">注销</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
        </div>
    </div>
    <!-- /菜单导航 -->

    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover table-bordered">
                <tr class="info">
                    <th>序号</th>
                    <th>课程名称</th>
                    <th>操作</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>程序设计</td>
                    <td><a class="btn btn-sm btn-primary" href=""></i>&nbsp;查看成绩</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>高等数学</td>
                    <td><a class="btn btn-sm btn-primary" href=""><i class="glyphicon glyphicon-pencil"></i>&nbsp;查看成绩</a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>数据结构</td>
                    <td><a class="btn btn-sm btn-primary" href=""><i class="glyphicon glyphicon-pencil"></i>&nbsp;查看成绩</a></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>数学分析</td>
                    <td><a class="btn btn-sm btn-primary" href=""><i class="glyphicon glyphicon-pencil"></i>&nbsp;查看成绩</a></td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>