{extend name="index"/}
{block name="title"}
登记成绩
{/block}

{block name="nav"}
<!-- 菜单导航 -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://www.mengyunzhi.com">梦云智</a>
        </div>
    </div>
</nav>
<!-- /菜单导航 -->
{/block}
{block name="search"}
{/block}
{block name="content"}
<form>
  <div class="form-group row">
    <label for="rank" class="col-sm-1 col-form-label">序值</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="rank" name="rank" value="26">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <a href="{:url('rankUpdate')}" class="btn btn-primary">确定</a>
    </div>
  </div>
</form>
{/block}
{block name="page"}
{/block}