{extend name="index"/}
{block name="title"}
查看学生
{/block}
{block name="nav"}
<!-- 菜单导航 -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://www.mengyunzhi.com">梦云智</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li  class="active"><a href="">(班级名称)</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="">注销</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<!-- /菜单导航 -->
{/block}

{block name="search"}
            <hr>
            <div class="row">
                <div class="col-md-10 text-left">
                    <form class="form-inline">
                        <div class="form-group">
                            <input name="klass" type="text" class="form-control " placeholder="班级">
                            <input name="name" type="text" class="form-control" placeholder="姓名">
                            <input name="sno" type="text" class="form-control" placeholder="学号">
                            <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>&nbsp;查询</button>
                        </div>
                    </form>
                </div>
                <div class="col text-right">
                    <a href="{:url('klass')}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>&nbsp;返回</a>
                    <a href="{:url('studentAdd')}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>&nbsp;增加</a>
                </div>
            </div>
            <hr />
{/block}

{block name="content"}
<table class="table table-hover table-bordered">
    <tr class="info">
        <th>序号</th>
        <th>姓名</th>
        <th>学号</th>
        <th>性别</th>
        <th>操作</th>
    </tr>
    <tr>
        <td>1</td>
        <td>张三</td>
        <td>001</td>
        <td>男</td>
        <td>
            <a class="btn btn-sm btn-info" href="{:url('fraction')}">&nbsp;登记成绩</a>
            <a class="btn btn-sm btn-danger" href="{:url('')}">&nbsp;删除</a>
        </td>
    </tr>
    <tr>
        <td>2</td>
        <td>李四</td>
        <td>002</td>
        <td>女</td>
        <td>
            <a class="btn btn-sm btn-info" href="{:url('fraction')}">&nbsp;登记成绩</a>
            <a class="btn btn-sm btn-danger" href="{:url('')}">&nbsp;删除</a>
        </td>
    </tr>
    <tr>
        <td>3</td>
        <td>王五</td>
        <td>003</td>
        <td>男</td>
        <td>
            <a class="btn btn-sm btn-info" href="{:url('fraction')}">&nbsp;登记成绩</a>
            <a class="btn btn-sm btn-danger" href="{:url('')}">&nbsp;删除</a>
        </td>
    </tr>
    <tr>
        <td>4</td>
        <td>赵六</td>
        <td>004</td>
        <td>女</td>
        <td>
            <a class="btn btn-sm btn-info" href="{:url('fraction')}">&nbsp;登记成绩</a>
            <a class="btn btn-sm btn-danger" href="{:url('')}">&nbsp;删除</a>
        </td>
    </tr>
</table>
{/block}
{block name="page"}
{/block}